@media screen and (max-width: 382px) {
  .AuctionDetails .buy-now {
    border-left: 1px solid #ddd;
  }
}

@media screen and (max-width: 1270px) {
  .AuctionDetails .under-actions {
    justify-content: center;
  }
}

@media screen and (max-width: 597px) {
  .AuctionDetails .under-actions {
    flex-direction: column-reverse;
    align-items: center;
  }
}
