.AuctionPreview {
  margin-top: 30px;
  padding-top: 30px;

  border-top: 2px dashed #ccc;
}

.AuctionPreview h1 i {
  font-size: 42px;
  margin-top: -4px;
  margin-right: 10px;
}

.auction-preview__actions {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;

  border-bottom: 2px dashed #ccc;
}

.auction-preview__actions .standard-button {
  padding: 20px 30px;
  font-size: 12px;
}

.auction-preview__actions .primary-button {
  background: var(--link-blue);
  color: white;
  border-color: transparent;
}

.auction-preview__actions .primary-button i {
  font-size: 24px;
}
