
.AuctionDetails .auction-views {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; margin-top: 30px;
    justify-content: flex-start;
    opacity: 1;
}

.AuctionDetails .auction-views span {
  margin-bottom: 10px;
}

.AuctionDetails .all-bids {
    padding-top: 60px;
    max-width: var(--html-w);
    margin: auto;
}

.AuctionDetails .all-bids h1 {
    margin-bottom: 20px;
}
.AuctionDetails .all-bids .price {
    padding-left: 10px;
    font-weight: 100;
    color: inherit;
}
.AuctionDetails .all-bids .price:after {
    content: ' zł';
}
.AuctionDetails .all-bids .bidder:first-child {
    color: var(--link-blue);
}
.AuctionDetails .all-bids .bidder.me {
    color: var(--orange);
}

.AuctionDetails ul.auctions {
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
}

.AuctionDetails .price {
    display: inline-block;
}

.AuctionDetails .buy-now {
  box-sizing: border-box;
  height: calc(var(--input-h) + 2px);
  width: 100px;

  opacity: .8;

  display: inline-block;
  vertical-align: middle;


  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-left: none;
}

.AuctionDetails .min-price {
    opacity: .5;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 5px;
    margin-left: 23px;
    transform-origin: left;
    transform: scale(0.8);
    width: 110%;
}

.AuctionDetails .min-price .price-value {
}

.AuctionDetails .buy-now .standard-button {
    width: 100%; height: 100%;
    padding: 0; margin: 0;
    text-align: center;

    background: transparent;

    border: none;

}

.AuctionDetails .buy-now .standard-button:hover {
    color: var(--orange);
}

.AuctionDetails .like-icon {
    margin-left: 5px;
}

.AuctionDetails {
}
.AuctionDetails .end-tag {
    position: relative;
    top: -55px;
    left: 10px;
    max-width: 65%;
    max-width: 250px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--good);
    padding: 10px;
    border: 2px dotted #ccc;
    background: white;

    transform: rotate(-15deg);
}
.AuctionDetails .background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    opacity: 0.07;
}

.AuctionDetails .background i {
    font-size: 150px;
    padding: 30px;
    color: var(--link-blue);
}

.AuctionDetails .basic-info {
    display: flex;
    margin-bottom: 50px;
}

.AuctionDetails .basic-info .photos {
    flex: 0 0 55%;
}

.AuctionDetails .basic-info .text {
    flex: 0 0 45%;
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    padding-right: 100px; /* page margin */
}
.AuctionDetails .basic-info .text h1 {
    font-size: 40px;
}
.AuctionDetails .basic-info .text h1, .AuctionDetails .basic-info .text p {
    margin-bottom: 30px;
}
.AuctionDetails .photos .photo-big {
   background: white;
   border: 1px solid #eee;
}
.AuctionDetails .photos .image-wrapper {
    box-sizing: border-box;
}

.AuctionDetails .photos .photo-big {
    width: 100%;
}
.AuctionDetails .photos .image-wrapper {
    width: 100%;
    height: 100%;
}
.AuctionDetails .photos .photo-big .div-image-block {
    min-width: 100%;
    min-height: 100%;
    cursor: pointer;
}
.AuctionDetails .photo-big.enlarge .image-wrapper,
.AuctionDetails .photo-big.enlarge .div-image-block {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
}
.AuctionDetails .photo-big.enlarge .image-wrapper {
    height: 100vh;
    background: white;
    z-index: 40;
    transition: background 0.3s ease-in-out;
}
.AuctionDetails .photo-big.enlarge .div-image-block {
    z-index: 50; transform: none;
}

.AuctionDetails .photos-small {
    display: flex;
    width: 100%;
}
.auction-details__thumbnail-wrapper {
    box-sizing: border-box;
    flex: 0 0 13.8%;
    min-height: 90px;
    margin-top: 15px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.auction-details__thumbnail-wrapper.active {
  border-color: var(--orange);
}
.auction-details__thumbnail-wrapper:not(:last-child) {
    margin-right: 5px;
}
.auction-details__thumbnail-wrapper img {
    width: 100%;
    height: 100%;
}
.AuctionDetails .text input {
    height: var(--input-h);
    border: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    border-right: none;
    padding: 0 30px;

}
.AuctionDetails .text button[type='submit'] {
    height: calc(var(--input-h) + 2px);
    padding: 0 30px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #ddd;
    cursor: pointer;
    vertical-align: top;
}
.AuctionDetails .text button[type='submit'] i {
  box-sizing: border-box;
  margin-right: 5px;
  font-size: 18px;
}
/*.AuctionDetails #description {
    top: 70%;

    transform: translateY(-50%);
}*/
.AuctionDetails blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text','Georgia',serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}
.AuctionDetails .html-description img {
    height: auto;
}
.AuctionDetails .html-description h1, .AuctionDetails .html-description h2, .AuctionDetails .html-description h3 {
    text-align: left;
}
.AuctionDetails .html-description {
    padding-top: 60px;
    max-width: var(--html-w);
    margin-left: 30px;
    margin: auto;
    padding-bottom: 30px;
    text-align: left;
    line-height: 1.4;
}
.AuctionDetails .html-description p {
    margin: 10px 0;
}
.AuctionDetails .html-description h1, .AuctionDetails .html-description h2, .AuctionDetails .html-description h3 {
    margin-bottom: 20px;
}
.AuctionDetails .image-wrapper {
    margin-right: 50px;
}
.AuctionDetails .text {
    margin-left: 100px; /* page margin */
}
.AuctionDetails .photo-big .no-image {
    height: 600px;
}


.AuctionDetails .attribute-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    user-select: none;
}

.AuctionDetails .attribute span {
    letter-spacing: 1px;
}
.AuctionDetails .attribute-tags .attribute {
    font-size: 12px;
    padding: 5px 10px; margin: 2.5px 0;
    border: 1px solid #ddd;
    margin-right: 5px;

    max-width: 300px;
    max-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.AuctionDetails .properties__attribute-tags .attribute,
.AuctionDetails .attribute-tags .attribute:hover {
  max-height: none;
  overflow: auto;
  white-space: normal;
}

.attribute-tags .unit {
    text-transform: none !important;
}

.properties__attribute-tags {

}

.AuctionDetails .properties__attribute-tags .attribute {
  font-size: 14px;
  font-weight: bold;
  flex: 1 1 20%;
  padding: 10px 14px;
  max-width: 100%;
  min-width: 220px;
}

.AuctionDetails .properties__attribute-tags .attribute span {
  font-weight: 100;
  display: block;
  margin-top: 4px;
}


.AuctionDetails .attribute-tags .attribute > span {
    text-transform: capitalize;
    margin: 2px 0;
    margin-left: 5px;
}
.AuctionDetails .text .price {
    margin-bottom: 5px;
}
.AuctionDetails .attribute-tags .attribute > span:before {
    content: '\: ';
}

.AuctionDetails .properties__attribute-tags .attribute span:before {
    content: '';
}

.AuctionDetails .under-actions {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;
}

.AuctionDetails .ask-seller-button button {
  margin: 0;
  border-color: #ddd;
}

.AuctionDetails .pay,
.AuctionDetails .auction-views {
  border-top: 5px solid #eee;
}

.AuctionDetails .auction-views {
  margin-top: 24px;
  padding-top: 20px;
}

.AuctionDetails .pay {
  display: flex;
  justify-content: space-between;

  padding-top: 12px;
  margin-top: 20px;
  border-top: 5px solid #eee;
}

.AuctionDetails .pay button {
  margin-top: 10px;
}
