@media screen and (max-width: 1050px) {
  .App .auction-ticker {
    background-position: top !important;
    background-size: cover !important;

    justify-content: center !important;
    height: 625px;
  }

  .App .auction-ticker-slide-area {
    flex: 0 0 100% !important;
  }

  .App .auction-ticker-column {
    flex-direction: row !important;
  }

  .App .auction-ticker .column:not(:last-child) {
    margin-right: 20px;
  }

  .App .auction-ticker .column {
    margin-top: 120px !important;
  }

  /* .App .auction-ticker-slide-area {
    transform-origin: center;
    transform: scale(.85);
  } */
}

/* @media screen and (max-width: 930px) {
  .App .auction-ticker-slide-area {
    transform: scale(.75);
  }
} */

@media screen and (max-width: 860px) {
  .App .auction-ticker-title {
    font-size: 50px !important;
    margin: 0; left: 0; right: 0;
    text-align: center;
    max-width: 100%;

    line-height: 1;
  }

  /* .App .auction-ticker-slide-area .photo,
  .App .auction-ticker-slide-area .div-image-block {
    height: 230px !important;
  } */
}

/* @media screen and (max-width: 840px) {
  .App .auction-ticker-slide-area {
    transform: scale(.65);
  }
} */

@media screen and (max-width: 835px) {
  .App .auction-ticker {
    justify-content: center !important;
  }
}
/*
@media screen and (max-width: 640px) {
  .App .auction-ticker-slide-area {
    transform: scale(.55);
  }
} */

@media screen and (max-width: 375px) {
  .App .auction-ticker-title {
    font-size: 40px !important;
  }
}
