.auction-ticker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 40px;
  padding-top: 50px !important;
  padding-bottom: 140px !important;

  border-top: 10px solid #100;
  border-bottom: 10px solid #100;
}

.auction-ticker-title {
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
}

.auction-ticker-controls {
  position: absolute;
  margin-top: 120px;
}

.auction-ticker-control {
  display: inline-block;

  width: 16px; height: 16px;
  margin: 0px 6px;
  background: white;
  box-shadow: 1px 2px 3px black;

  cursor: pointer;
}

.auction-ticker-control:hover {
  margin-top: -3px;
}

.auction-ticker-control.active {
  background: var(--orange);
}

.auction-ticker .column {
  margin-top: 120px;
}

.auction-ticker .auction {
  display: flex;
  flex-direction: column;

  width: 260px; height: 100%;
  padding: 14px 10px 5px 10px;
  /* border: 10px solid #100; */
  box-shadow: none;

  animation: fadeInAndSlide .8s normal forwards ease-out;
}

.auction-ticker .auction .price-div {
  margin-top: auto;
}

.auction-ticker .column .div-image-block {

}

.auction-ticker .Elektronika .auction {
  border: 5px solid #100;
}

.auction-ticker.left {
  animation: slideFromRight 1s normal forwards ease-out;
}

.auction-ticker.right {
  animation: slideFromLeft 1s normal forwards ease-out;
}

@keyframes fadeInAndSlide {
  from { opacity: 0; margin-left: -50px; }
  to { opacity: 1; margin-left: 0px; }
}

@keyframes slideFromLeft {
  from { margin-left: -100vw; }
  to: { margin-left: 0; }
}

@keyframes slideFromRight {
  from { margin-right: -100vw; }
  to: { margin-right: 0; }
}
