.extra-tab .auction-bids .all-bids {
  width: 100%;
}

.extra-tab .auction-bids .all-bids h1,
.extra-tab .auction-bids .all-bids table {
  table-layout: fixed;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.extra-tab .auction-bids .all-bids table {
  margin-top: 20px;
  padding: 0 20px;
}

.extra-tab .auction-bids .all-bids tr td:nth-child(2) {
  text-align: left !important;
}

.extra-tab .auction-bids .all-bids table,
.auction-bids .all-bids table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.auction-bids .all-bids table th:first-child,
.auction-bids .all-bids table td:first-child {
  text-align: left;
}

.auction-bids .all-bids table th:last-child,
.auction-bids .all-bids table th:last-child {
  text-align: right;
}

.auction-bids .all-bids table th {
  font-weight: 100;
  border-bottom: 2px solid #aaa;
}

.auction-bids .all-bids table td {
  padding: 10px 0;
}

.auction-bids .all-bids table tr td {
  border-bottom: 1px solid #eee;
}

.auction-bids .all-bids tr:first-child td {
  /* font-size: 20px; */
}

.auction-bids .all-bids tr td.datetime {
  /* font-size: 12px;
  padding-left: 16px; */

  text-align: right;
}

.extra-tab .auction-bids .all-bids tr td.price,
.auction-bids .all-bids tr td.price {
  text-align: center !important;
  display: table-cell;
}

.extra-tab .auction-bids .all-bids tr td.price,
.extra-tab .auction-bids .all-bids tr td.datetime {
  font-size: 14px;
}
