.auction-carousel-control {
  position: absolute;
  top: 40%;



  cursor: pointer;
  user-select: none;


  transform: translateY(-50%);
}

.auction-carousel-control i {
  font-size: 32px;
}

.auction-carousel-control.left {
  left: calc(var(--page-margin) / -2);
}

.auction-carousel-control.right {
  right: calc(var(--page-margin) / -2);
}


.auction-carousel-control[disabled] {
  opacity: .2;
}

.auction-carousel.shift .div-image-block {
  opacity: 1;
  transition: none;
}

.auction-carousel.shift-left {
  animation: fromLeft 1s normal forwards ease-out;
}

.auction-carousel.shift-right {
  animation: fromRight 1s normal forwards ease-out;
}

@keyframes fromLeft {
  from { opacity: 0; right: -50px; }
  to { opacity: 1; right: 0; }
}

@keyframes fromRight {
  from { opacity: 0; left: -50px; }
  to { opacity: 1; left: 0; }
}
