@media screen and (max-width: 1250px) {
  .App .auction-carousel.four-column .column {
    max-width: none;
  }
}

@media screen and (max-width: 1000px) {
  .App .auction-carousel .auction {
    margin-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .App .auction-carousel-control {
    display: none;
  }
}
