.new-auction-button {
  margin-left: 40px;
  padding: 10px 20px;

  border: 1px solid var(--orange);
  border-radius: 3px;

  cursor: pointer;
}

.new-auction-button__icon {
  color: var(--orange);
  font-size: 26px !important;
}

.new-auction-button:hover {
  animation: toOrange .3s normal forwards ease-out;
}

.new-auction-button:hover .new-auction-button__icon {
  animation: toWhiteText .3s normal forwards ease-out;
}

@keyframes toOrange {
  to { background: var(--orange); color: white; }
}

@keyframes toWhiteText {
  to { color: white; }
}
