.report-violation-action {
  position: relative;
}

.report-violation-button button {
  border: none;
  background: transparent;
}

.report-violation-dialog {
  position: absolute;
  top: 50px;
  left: 50%;

  padding: 15px 9px;
  background: white;

  transform: translateX(-50%);

  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-radius: 16px;

  z-index: 10;

  animation: fromTop .3s normal forwards ease-out;
}

.report-violation-dialog > div:last-child {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.report-violation-dialog label {
  display: block;

  font-size: 12px;
  margin: 0 0 3px 12px;
}

.report-violation-dialog label:after {
  content: ':';
}

.report-violation-dialog select,
.report-violation-dialog textarea {
  box-sizing: border-box;

  margin-bottom: 10px;
  padding: 8px;

  font-size: 13px;

  background: #fcfcfc;
}

.report-violation-dialog textarea {
  resize: none;
  width: 100%; height: 90px;
}

.report-violation-dialog button {
  padding: 6px 15px;

  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
}

.report-violation-dialog button i {
  font-size: 14px;
}

.report-violation-dialog:before {
  position: absolute;
  top: -15px;
  left: 50%;

  width: 0;
  height: 0;

  content: '';

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid #ddd;

  transform: translateX(-50%);
}

@keyframes fromTop {
  from { opacity: 0; top: 25px; }
  to { opacity: 1; top: 56px; }
}
