.AdminSeo .seo-input label,
.AdminSeo .seo-input input,
.AdminSeo .seo-input textarea {
  display: block;
}

.AdminSeo .seo-input label {
  margin: 6px 0 2px 0;
}

.AdminSeo .seo-input textarea {
  resize: none;
  height: 40px;
}

.AdminSeo .seo-input input,
.AdminSeo .seo-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.AdminSeo .seo-input .seo-validation.invalid {
  color: red;
}

.AdminSeo .seo-input label,
.AdminSeo .seo-input .seo-validation.invalid {
  font-size: 10px;
}

.AdminSeo .seo-input:not(first-child) label {
  margin-top: 12px;
}

.button-flex-row {
  display: flex;
  justify-content: flex-start;

  margin-top: 20px;
}

.Admin .button {
  width: 120px;
  padding: 10px 20px;
  text-align: center;
  background: white;
  border: 1px solid #ddd;
}

.AdminSeo .inner {
  padding-left: 20px;
}

.AdminSeo h2,
.AdminSeo h3 {
  user-select: none;
}

.AdminSeo h2 {
  font-size: 17px;
  padding: 6px 0;
  margin: 10px 0 0 0;
}

.AdminSeo h3 {
  margin: 50px 0;
}

.AdminSeo h2.active {
  opacity: 1;
}

.AdminSeo .editable-category-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.AdminSeo .editable-category-list > div {
  flex: 0 0 33%;
}

.AdminSeo .editable-category-list > div.active {
  flex: 0 0 100%;
}

.AdminSeo .edit-category-seo.active {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.AdminSeo .edit-category-seo span {
  font-size: 12px;
  display: block;
  margin-top: -4px;
  margin-bottom: 16px;
}
