.admin-packet-cost-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.admin-packet-cost .packet {
  box-sizing: border-box;

  flex: 0 0 calc(33% - 20px);

  padding: 20px 10px;
  margin: 10px 0px 30px 0;

  border: 1px solid #ccc;
}

.admin-packet-cost .packet:not(:last-child) {
  margin-right: 10px;
}

.admin-packet-cost .packet:last-child {

}

.admin-packet-cost .packet label {
  display: block;

  font-size: 12px;
  text-transform: capitalize;

  margin-bottom: 2px;

  color: #444;
}

.Settings .react-datepicker-wrapper input,
.admin-packet-cost .packet input {
  box-sizing: border-box;

  width: 100%;
  padding: 10px 5px;
  border: 1px solid #eee;

  margin-bottom: 10px;
}

.Settings .button {
  text-align: center;
  width: 120px;
  padding: 10px 20px;

  border: 1px solid #bbb;

  background: white;
}

.Settings .react-datepicker-wrapper input {
  padding-left: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}
