.generic-carousel {
  position: relative;
  overflow: hidden;
}

.generic-carousel__wrapper,
.generic-carousel__presentation {
  display: flex;
}

.generic-carousel,
.generic-carousel__wrapper,
.generic-carousel__presentation {
  width: 100%;
}

.generic-carousel__wrapper {
  position: absolute;
  justify-content: space-around;
  background: rgb(252, 252, 252); /* <- current body background color */
  z-index: -1;

  opacity: 0;
}

.generic-carousel__wrapper.active {
  z-index: 1;
  opacity: 1;
}

.generic-carousel__presentation {
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.generic-carousel__img,
.generic-carousel__caption {
  pointer-events: none;
}

.generic-carousel__img,
.generic-carousel__caption,
.generic-carousel__control {
  user-select: none;
}

.generic-carousel__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: rgba(0,0,0,.4);
  cursor: pointer;
  z-index: 2;
}

.generic-carousel__control.left {
  left: 0;
}

.generic-carousel__control.right {
  right: 0;
}

@keyframes carousel__to-left {
  from { left: 0; z-index: 1; opacity: 1; }
  to { left: -100vw; z-index: 0; }
}

@keyframes carousel__to-right {
  from { left: 0; z-index: 1; opacity: 1; }
  to { left: 100vw; z-index: 0; opacity: 0; }
}

@keyframes carousel__from-left {
  from { left: -100vw; z-index: 0; opacity: 0;}
  to { left: 0; z-index: 1; opacity: 1; }
}

@keyframes carousel__from-right {
  from { left: 100vw; z-index: 0; opacity: 0; }
  to { left: 0; z-index: 1; opacity: 1; }
}


/* specific */

.carousel__frontpage-categories,
.carousel__frontpage-categories .generic-carousel {
  height: 108px;
}

.carousel__frontpage-categories .generic-carousel__img {
  max-width: 56px;
}

.generic-carousel__app-offers,
.generic-carousel__app-offers .generic-carousel {
  height: 300px;
}

.generic-carousel__app-offers .generic-carousel__wrapper {
  justify-content: center;
}

.generic-carousel__app-offers img {
  height: 300px;
  margin: 10px;
}
