.AdminPanel {
    display: flex;
}
.Admin {
	min-height: 70vh;
}
.Admin td {
	font-size: 13px;
}
.AdminPanel .Provision {
	padding: 14px;
}
.AdminPanel .Provision input {
	width: 85%;
	margin: 20px 0;
	margin-right: 10px;
}
.AdminPanel .Provision .standard-button {
	margin: 0;
}
.AdminPanel h1 {
	margin-left: -14px;
	margin-bottom: 30px;
}
.AdminPanel h3 {
	margin-bottom: 5px;
}
.AdminPanel h3 i {
	margin-right: 10px;
}
.AdminPanel .mail-base input {
	display: block;
	width: 100%;
	min-height: var(--input-h);
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}
.AdminPanel .mail-base textarea {
	display: block;
	width: 100%;
	min-height: 150px;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
	resize: none;
}
.AdminPanel .mail-base .standard-button {
	margin: 0;
}
.AdminPanel table .price {
	font-size: 12px;
	font-weight: 100;
	color: black;
}
.AdminPanel table .price:after {
	content: ' zł';
}
.AdminPanel table th {
	text-align: left;
	background: #eee;
	padding: 10px;
}
.AdminPanel table td {
	padding: 10px;
}
.AdminPanel table td:not(:last-child), .AdminPanel table th:not(:last-child) {

}
.AdminPanel table tr:nth-child(2n + 2) {
	background: #f5f5f5;
}
.AdminPanel .user-list table td:nth-child(n + 5) {
	text-align: center;
}
.AdminPanel .auction-list table td:nth-child(n + 4) {
	text-align: center;
}
.AdminPanel table th.icon {
	text-align: center;
}
.AdminPanel table td i {
	cursor: pointer;
	padding: 5px 0;
	opacity: .9;
}
.AdminPanel table td i:hover {
	color: var(--orange);
	opacity: 1;
}
.AdminPanel .links a {
	cursor: pointer;
}
.AdminPanel .links h2 {
	margin-bottom: 20px;
}
.AdminPanel .links h2 i {
	position: relative;
	top: -4px;
	font-size: 26px;
	margin-right: 10px;
}
.AdminPanel .links button {
	margin: 10px 0;
	margin-bottom: 0px;
}
.Admin .admin-login {
	display: block;
	padding: 30px;
	height: 50%;
}
.Admin .admin-login input {
	display: block;
	width: 30%;
	height: var(--input-h);

	margin-bottom: 10px;
	padding: 0 10px;
	border: 1px solid #ddd;
}
.Admin .Modal .content {
	position: relative;
}
.AdminPanel .Modal input {
	box-sizing: border-box;
	width: calc(100% - 60px);
	flex: 0 0 var(--input-h);
	margin: 0 30px;
	margin-top: 30px;
	padding-left: 10px;

	border-bottom: 1px solid #ddd;
}
.AdminPanel .Modal .content > form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.AdminPanel .Modal textarea {
	box-sizing: border-box;
	flex: 1 1 auto;
	width: calc(100% - 60px);
	margin: 0 30px;
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
}

.CategoryTree ul {
	list-style: none;
	min-width: 330px;
}

.tree-drag, .tree-drag li {
	list-style: none;
}

.CategoryTree .category, .tree-drag .category {
	font-weight: bold; background: #eee !important;
}
.CategoryTree .subcategory, .tree-drag .subcategory {
	border: 1px solid #ddd !important;
}
.CategoryTree .subsubcategory, .tree-drag .subsubcategory {
	font-size: 14px; border: 1px solid #eee !important;
}
.property-editor-heading {
	cursor: pointer;
	user-select: none;
}
.category-tree-heading,
.property-editor-heading,
.CategoryTree .node,
.tree-drag .node {
	display: block;
	height: 40px; line-height: 40px;
	border: 1px solid #bbb; border-radius: 5px;
	margin: 5px 0; background: white; padding: 0 20px; padding-right: 80px;
}
.category-tree-heading,
.property-editor-heading {
	position: relative;
	height: 50px;
	font-size: 18px; line-height: 50px; color: white;
	text-align: center; text-transform: uppercase;
	padding: 0;
	background: black;
}
.property-editor-subheading {
	display: flex;
	justify-content: space-between;
	font-size: 14px; font-weight: bold; letter-spacing: 1px; text-align: right;
	padding: 5px 0;
	margin: 8px 0;
	border-bottom: 1px solid #bbb; cursor: pointer;
}
.property-editor-subheading .options i {
	font-size: 24px;
	padding-left: 19px;
}
.property-editor-property {
	max-width: 330px;
	padding: 5px 0;
}
.property-editor-property .title:hover .options {
	display: block;
}
.property-editor-property .title {
	display: flex; justify-content: space-between;
	width: 100%;
	padding-left: 20px; font-weight: 400;
	position: relative;
	cursor: pointer;
}
.property-editor-property .options {
	padding-right: 28px;
}
.property-editor-property .title:before {
	font-family: 'Material Icons'; font-size: 20px; font-weight: 100;
	position: absolute; left: 0; top: 1px;
	content: 'arrow_right';
	margin-right: 5px;
	opacity: 0;
}
.property-editor-property .title:hover:before {
	opacity: 1;
}
.property-editor-property.open .title:before {
	content: 'arrow_drop_down';
}
.property-editor-property-details {
	padding: 5px 0; padding-left: 30px; font-size: 12px;
}
.property-editor-property-details > div {
	padding: 3px 0;
	display: flex;
	justify-content: space-between;
}
.property-editor-property-details input, .property-editor-property-details select {
	text-align: right; padding: 3px 6px;
	border-bottom: 1px solid #ddd; border-radius: 0 !important;
}

.category-tree-heading .options {
	position: absolute;
	right: 10px;
}
.category-tree-heading .external-options {
	position: absolute;
	right: -30px; color: black;
	cursor: pointer;
}

.CategoryTree .node {
	position: relative;
}

.CategoryTree .node .options, .property-editor-property .options {
	position: absolute;
	top: -2px; right: 6px;
	user-select: none; display: none;
}

.tree-drag .options {
	display: none;
}

.CategoryTree .node:hover > .options {
	display: block;
}

.CategoryTree .options i, .Admin .options i {
	font-size: 18px;
	opacity: 0.6;
	cursor: pointer;
}
.CategoryTree .options i:hover {
	opacity: 1;
}
.category-tree-heading .options i {
	opacity: 1; font-size: 20px; padding-left: 6px;
}
.category-tree-heading .options i:hover {
	font-weight: bold;
}

.tree-collapsible {
	cursor: pointer;
}

.PropertyEditor {
	position: fixed;
	top: 199px; bottom: 110px; right: var(--page-margin);
	z-index: 50; background: white;
}
.PropertyEditor .container {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #fcfcfc; opacity: 1;
}
.property-editor-info {
	position: relative;
	font-size: 10px;
	padding: 8px 0; padding-left: 16px;
	max-width: 330px;
}
.property-editor-info:before {
	position: absolute;
	left: 6px;
	content: '*';
}

.NotePad {
	position: fixed;
	top: 54vh; left: var(--page-margin); bottom: 30px;
	width: 320px;
	overflow: hidden;
	border: 1px solid #ddd; background: white;
	z-index: 50;
}

.NotePad .title {
	height: 40px; line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #ddd;
}
.NotePad textarea {
	box-sizing: border-box;
	width: 100%; height: calc(100% - 41px);
	font-size: 15px; font-weight: 100; opacity: 0.9;
	padding: 20px;
	resize: none; user-select: auto;
}
.notepad-options {
	position: absolute;
	right: 10px;
}
.notepad-options i {
	font-size: 22px;
}
.clickable {
	cursor: pointer;
	opacity: 0.7;
}
.clickable:hover {
	opacity: 1;
}

.tree-properties {
	font-size: 13px;
	margin: 10px 5px;
}
.tree-property {
	margin: 8px 0; margin-bottom: 15px; cursor: pointer;
}
.tree-property .title {
	width: calc(100% - 11px); font-weight: 400;
	margin-left: -5px;
	border-bottom: 1px solid #bbb;
}
.tree-property .options {
	float: right; margin-top: -2px;
}
.tree-property .options i {
	font-size: 16px;
}
.tree-property .lp {
	font-size: 11px; opacity: 0.6;
}
.tree-property input {
	background: white;
	padding: 6px;
}

.tree-property-value-editor {
	position: fixed;
	top: 50%; left: calc(var(--page-margin) + 330px);
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: 50vh;
	transform: translateY(-50%);
	background: white; border: 1px solid #ccc;
	z-index: 100;


}
.tree-property-value-editor {
	box-shadow: 1px 1px 4px rgba(0,0,0, .4);
}
.tree-property-value-editor .title {
	font-weight: bold;
}
.tree-property-value-editor .title, .tree-property-value-editor .options {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 30px;
	margin: 0;
}
.tree-property-value-editor textarea {
	box-sizing: border-box;
	padding: 16px 30px;
	resize: none;
	height: calc(100% - 80px);
}
.tree-property-value-editor .options {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid #eee;
}
.tree-property-value-editor .options i {
	margin-left: 10px;
}
.tree-property-value-editor .options i:first-child:hover {
	color: var(--bad);
}
.tree-property-value-editor .options i:last-child:hover {
	color: var(--good);
}
i.layers {
	margin-right: 10px;
}
.property-editor-subheading .visibility i {
	font-size: 18px; margin-left: 8px; margin-right: 15px;
}

.anim-loading-text {
	animation: blink 0.4s ease-in-out infinite;
}

.Admin .row {
	display: flex;
	margin-bottom: 20px;
}

.Admin .row .col {
	flex: 1 1 50%;
}
.Admin .row .col:first-child {
	max-width: 500px;
	padding-right: 20px;
}

.Admin .violation-list .date {
  font-size: 10px;
}

.Admin .violation-list .group {
  margin-top: 5px;
}

.Admin .violation-list .reason {

}

.Admin .violation-list .report-row {
  animation: fadeIn .3s normal forwards ease-out;
}

.Admin .violation-list .violation-cell {
  cursor: pointer;
}

@keyframes blink {
	from, to { opacity: 1 }
	50% { opacity: 0 }
}
