.advertising {
    padding: 0 var(--page-margin);
}

.advertising .column {
    opacity: .95;

}

.advertising .column:hover {
    opacity: 1;
}

.advertising .site-link-wrapper img {
  width: 100%;
}

.advertising .four-column {
  flex-wrap: wrap;
  justify-content: center;
}
.advertising .four-column > .column {

}

@media screen and (max-width: 1290px) {
  .app-ad-column {
    margin: 10px !important;
  }
}

@media screen and (max-width: 1000px) {
  .App .advertising .four-column > .column {
    margin-right: 0px;
  }
}
