.all-categories > .all-categories__list {
  display: flex;
  flex-wrap: wrap;
}

.all-categories > .all-categories__list > li {
  flex: 0 0 20%;
}

.all-categories__list h3,
.all-categories__list h4,
.all-categories__list h5,
.all-categories__list h6 {
  font-weight: normal;
}

.all-categories__list h2 {
  margin-top: 30px;
}

.all-categories__list h3 {
  margin-top: 10px;
}

.all-categories__list h4 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.all-categories__list h5 {
  margin-top: 1px;
}

.all-categories__list {
  list-style: none;
}

/* Mobile */

@media screen and (max-width: 2200px) {
  .all-categories > .all-categories__list > li {
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 1920px) {
  .all-categories > .all-categories__list > li {
    flex: 0 0 33%;
  }
}

@media screen and (max-width: 1480px) {
  .all-categories > .all-categories__list > li {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 820px) {
  .all-categories > .all-categories__list > li {
    flex: 0 0 100%;
  }
}
