html, body, header, footer, nav, div, section, article, h1, h2, h3, h4, h5, h6, form, input, textarea, p, ol, ul, li, a, span, aside, button, select {
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    border: none;
}

button {
    background: white;
}

button i {
    opacity: 0.3;
    user-select: none;
}

:root {
    --orange: rgb(252,133,10);
    --hot-orange: rgb(249,65,18);
    --facebook: rgb(52,81,163);
    --google: rgb(187,44,37);
    --linkedin: rgb(13,98,166);
    --good: #4BB543;
    --bad: #FF0523;

    --link-blue: #009bff;

    --page-margin: 100px;

    --nav-h: 100px;
    --input-h: 40px;
    --html-w: 650px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    padding-top: calc(var(--nav-h) + 20px);
    font-family: sans-serif;
    font-weight: 100;
    background: #fcfcfc;



}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

i {
    vertical-align: middle;
}

ul, ol {
    position: relative;
    left: 19px;
    word-break: break-all;
}

select {
    background: white;
}

span.standard-button {
    display: inline-block;
    line-height: 38px;
    font-size: 11px; font-weight: 400;
}
span.standard-button:hover {
    background: #eee; border: 1px solid #fff;
}
button.standard-button,
span.standard-button,
.link-button {
    margin: 0 5px;
    min-height: 37px;
    padding: 0 40px;
    cursor: pointer;

    border: 1px solid #ccc;
    vertical-align: middle;
    background: white;
    user-select: none;
}

button.standard-button:hover,
.link-button:hover {
    background: var(--orange);
    border: 1px solid white;
    color: white;
}
button.standard-button:hover i,
.link-button:hover i {
    color: white;
}
button.standard-button i,
.link-button i {
    position: relative;
    top: -1.5px;
    font-size: 16px;
    margin-right: 5px;
    opacity: .9;

    padding: 0;
}
.link-button {
    display: inline-block;
    min-height: 34px;
    font-size: 11px;
    line-height: 34px;
}
.danger:hover {
    color: white;
    background: var(--hot-orange);
}

nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--nav-h);

    z-index: 20;
    border-bottom: 1px solid #eee;
}

.page-padding-container {
  padding: 0 var(--page-margin);
}

.main-container {
    margin: 0 var(--page-margin);
    min-height: calc(100vh - var(--nav-h) - var(--input-h) * 4);
}

.main-container:empty {
  min-height: 0;
  display: none;
}

.search-auctions div {
    display: inline-block;
}
.search-auctions .inputs {
    position: relative;
}
.search-auctions .inputs i {
    position: absolute;

    top: 5px;
    left: 10px;

    font-size: 34px;
    color: var(--orange);
    opacity: .5;
}
.search-auctions input {
    width: 240px;
    height: var(--input-h);

    padding-left: 50px;
    border: 1px solid #ccc;

    border-radius: 25px 0 0 25px;
}
.search-auctions select {
    width: 140px;
    height: var(--input-h);
    cursor: pointer;
    opacity: 0;
}
.search-auctions .select-value {
    display: inline-block;
    position: relative;
    top: 1px;

    width: 180px;
    height: var(--input-h);
    font-size: 13px;
    line-height: var(--input-h);

    padding-left: 10px;

    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 25px 25px 0;

    color: var(--orange);
    cursor: pointer;
}
.search-auctions .select {
    position: absolute;
    left: 0;
}
.search-auctions .select {
    width: 100%;
    padding: 5px;
    border: 1px solid #eee;
    background: white;

    z-index: 5;
}
.search-auctions .select div {
    display: block;
    cursor: pointer;
}
.search-auctions .select .user-search {
    font-weight: 400;
    margin: 5px 0;
    margin-bottom: 10px;
}
.search-auctions .select .main, .search-auctions .select .para {
    font-weight: 400;
    margin: 5px 0;
}
/*.search-auctions .select .main:after {
    position: relative;
    top: 2px;

    font-family: 'Material Icons';
    content: 'arrow_drop_down';

    opacity: .5;
}*/

.search-auctions .select .child {
    display: none;
    margin-left: 5px;
    margin-bottom: 4px;
}
.search-auctions .select-value:after {
    position: absolute;
    right: 10px;

    font-family: 'Material Icons';
    font-size: 22px;

    content: 'arrow_drop_down';
    color: black;
    opacity: .3;
}
.search-auctions button {
    width: 90px;
    height: var(--input-h);

    font-size: 13px;
    font-weight: 100;

    margin-left: 20px;

    background: var(--hot-orange);
    color: white;

    border-radius: 30px;
    cursor: pointer;
}

.user-links {
    margin-right: var(--page-margin);
    font-weight: 100;
}
.user-links i {
    color: var(--orange);
    font-size: 44px;
}
.user-links a:not(:first-child), .user-links span.link:not(:first-child) {
    margin-left: 20px;
}
.user-links .Chat {
    margin-left: 20px;
}
.user-links a, .user-links span.link {
    position: relative;
    cursor: pointer;
}
.user-links a, .user-links span.link img {
    vertical-align: middle;
    min-width: 40px;
}

.user-links a .dropdown, .user-links span.link .dropdown {
    position: absolute;
    width: 190px;
    right: -40px;

    line-height: 1.4;
    border: 1px solid #eee;
    background: white;

    opacity: 0;
    pointer-events: none;
}
.user-links a:hover .dropdown, .user-links span.link:hover .dropdown {
    opacity: 1;
    pointer-events: all;

    animation: open .3s normal forwards ease-out;
}

.user-links a .dropdown a, .user-links span.link .dropdown a {
    display: block;
    text-align: right;
    padding: 10px;
    margin: 0;
}
.user-links a .dropdown a:hover, .user-links span.link .dropdown a:hover {
    background: #f0f0f0;
}
.user-links a .dropdown a:after, .user-links span.link .dropdown a:after {
    position: relative;
    top: 2px;
    font-family: 'Material Icons';
    margin-left: 7px;
    opacity: .8;
}
.user-links a.account:after {
    content: 'perm_identity';
}
.user-links a.logout:after {
    content: 'expand_more';
}
.user-links a.settings:after {
    content: 'settings';
}
.user-links a.add-auction:after {
    content: 'add_circle_outline';
}

.breadcrumbs {
    width: auto;
    margin-top: 10px;
    margin-left: var(--page-margin);
    padding: 10px;
    max-width: 300px;
    font-size: 14px;

    opacity: 0.5;
}

.breadcrumbs span:not(:last-child):after {
    content: '>';
    margin: 0 5px;
}

footer {
    width: 100%;
    margin-top: 30px;
}
.footer-links {
    line-height: 40px;
    display: flex;
    justify-content: center;
}
.footer-links a {
    padding: 0 10px;
}
.footer-links a:hover {
    background: #eee;

}
.category-links a {
    cursor: pointer;
}

.category-links .row {
    display: flex;
    padding: 20px var(--page-margin);
    padding-right: none;
}
.category-links .row:first-child {
    border-top: 10px solid rgb(247,248,252);
}
.category-links .row:last-child {
    /* background: rgb(247,248,252); */
    border-bottom: 10px solid rgb(247,248,252);
}


.category-links .row .column {
    flex: 0 0 17.6%;
    position: relative;
}

.category-links .row .categories {
    max-width: 95%;
}

.category-links .row .column .logo {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    font-size: 20px;

    width: 98px;
    margin: 0px;
}

.footer-bar {
    display: flex;

    height: var(--input-h);
    line-height: var(--input-h);

    background: rgb(193,199,203);
}

.footer-bar div {
    flex: 0 0 33%;
    text-align: center;
}

.category-links a {
    display: block;
    opacity: .6;

    font-size: 12px;
}
.category-links a:hover {
    opacity: 1;
}

.category-links a strong {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

strong {
    font-weight: 600;
}

.flash-message {
    padding: 20px 50px;
    text-align: center;
    color: white;
}

.flash-message.ok {
    background: #4BB543;
}
.flash-message.error {
    background: #FF0523;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}

.AuctionListSearch {
    display: flex;
}

.AuctionListSearch .advanced-search {
    flex: 0 0 300px;
    height: 0%;

    margin-right: var(--page-margin);
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #ddd;
}

.AuctionListSearch .advanced-search h3 {
    text-align: center;
    opacity: .4;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 100;
}

.AuctionListSearch .advanced-search form div {
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 10px;

    background: white;
}
.AuctionListSearch .advanced-search form input {
    color: var(--link-blue);
    font-size: 14px;
}
.AuctionListSearch .advanced-search form input:not([type='radio']) {
    border-bottom: 1px solid #eee;
    height: 30px;
    width: calc(50% - 25px);
    padding: 0 10px;
    margin-right: 5px;
}
.AuctionListSearch .advanced-search form input:not([type='radio']):last-child {
    margin-right: 0;
}
.AuctionListSearch .advanced-search form input[type='radio'], .AuctionListSearch .advanced-search form .radio-value {
    margin-left: 9px;
    margin-bottom: 9px;
    cursor: pointer;
}
.AuctionListSearch .advanced-search form div.label {
    margin-bottom: 0;
}
.AuctionListSearch .advanced-search form span.label {
    font-size: 12px;
    margin-left: 9px;
    opacity: .8;
}
.AuctionListSearch .advanced-search form button {
    width: 100%;
    height: var(--input-h);
    border: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: auto;
    margin-bottom: 15px;
    background: white;
    cursor: pointer;
}

.AuctionListSearch .advanced-search form button:hover {
    border: 1px solid white;
    background: var(--orange);
    color: white;
}

.AuctionListSearch .advanced-search form i {
    position: relative;
    top: -2px;
    margin-right: 7px;
    opacity: .9;
}
.AuctionListSearch .advanced-search .items {
    padding: 10px;
    background: white;
}
.AuctionListSearch .advanced-search .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.AuctionListSearch .advanced-search .item:hover {
    color: var(--link-blu);
}

.badge {
    position: relative;
    top: -2px;

    display: inline-block;
    width: 15px;
    height: 15px;

    font-size: 9px;
    text-align: center;
    line-height: 15px;
    color: var(--orange);

    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid var(--orange);
}
.orange {
    color: var(--orange);
}
.hot-orange {
    color: var(--hot-orange);
}
.green {
  color: var(--good);
}
.transparent {
    opacity: .5;
}

.thin {
    font-weight: 100;
}

.file-form {
    position: relative;
    margin-bottom: 30px;
}
.file-form input[type="file"] {
    opacity: 0;
    height: var(--input-h);
    cursor: pointer;
}
.file-form .file-value {
    position: absolute;
    left: 0;

    pointer-events: none;
}

.warn {
    font-weight: 400;
    color: var(--orange);
    margin-bottom: 30px;
    padding: 15px 20px;
    background: white;
    border-radius: 4px;
    border: 1px solid #eee;
}
.warn a {
    color: var(--orange);
    opacity: 0.8;
}
.warn a:hover {
    opacity: 1;
    text-decoration: underline;
}

.hint-wrapper {
    position: relative;
}
.hint-list {
    opacity: 0;
    height: 1px;
    position: absolute;
    top: calc(var(--input-h) + 10px);
    left: 0;
    box-sizing: border-box;
    width: 50%;
    list-style: none;
    background: white;
    padding: 10px;
    z-index: 5;
    border: 1px solid #ddd;
    border-top: none;
}
.hint-list li {
    opacity: 0.5;

}
.hint-list li:hover {
    opacity: 1;
    cursor: pointer;
}
.hint-list li:not(:last-child) {

    margin-bottom: 5px;

}
.hint-wrapper input.hinted:focus ~ .hint-list {
    opacity: 1;
    height: auto;
}

.cookie-message {
    position: fixed;
    left: 0; bottom: 0px;
    box-sizing: border-box;

    width: 100vw;

    display: flex;
    justify-content: center;

    border: 1px solid #ddd;
    background: white;
    padding: 20px;
    box-shadow: 1px 1px 1px #ddd;
    z-index: 99;
}
.cookie-message > div {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 30px;
}
.cookie-message > div > img {
    width: 100%;
    max-width: 340px;
    min-width: 240px;
}

.cookie-message > p {
    flex: 1 1 65%;
}
.cookie-message h3 {
    margin: 20px 0;
}
.cookie-message button {
    margin: 30px 0;
    float: right;
    color: var(--link-blue);
    border: 1px solid var(--link-blue);
}
/*input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}
*/

nav .user-links {
    user-select: none;
}

.navigation-welcome {
    position: absolute;
    top: -22px; left: 50%;
    font-size: 10px; text-align: center;
    transform: translateX(-50%);
}

#user-agent {
width: 100%;
text-align: center;
}

#user-agent h1 {
color: red;
margin-bottom: 10px;
}

#user-agent a {
    color: var(--link-blue);
}

.price-input-wrapper {
    position: relative;
    vertical-align: baseline;
}
.price-input-wrapper:after {
    position: absolute;
    top: calc(var(--input-h) / 2 - 12px); right: 14px;
    font-size: 10px;

    content: 'zł';
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.position-relative {
    position: relative;
}

.App-header {
    margin-bottom: 30px;
}

.list-search-with-categories {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.display-none {
    display: none !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.link {
    color: var(--link-blue);
    font-size: 14px; letter-spacing: 1px;
}
.link i {
    margin-top: -1.5px;
}
.empty {
    position: relative;
    height: 36vh;
    text-align: center;
    line-height: 1.5;
}
.disabled {
  opacity: .3;
  pointer-events: none;
}

@keyframes open {
  from { top: 0px; opacity: 0; }
  to { top: 20px; opacity: 1; }
}
