.user-settings {
    width: 600px;
}

input:disabled {
    opacity: 0.5;
}

input.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.rich-text-editor {
    min-height: 300px;
    margin-top: 10px;
}

.drag-and-drop-images {
    position: relative;

    width: 100%;
    height: 300px;

    background: white;
    border: 2px dashed #ddd;
    cursor: pointer;
}

.drag-and-drop-images:hover:after {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    font-family: 'Material Icons';
    font-size: 40px;

    content: 'add_photo_alternate';
    opacity: 0.4;
}

.div-image-block {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img-image-block {
    max-width: 100%;
    opacity: 1;
}


.AuctionDetails .photo-big .div-image-block {
    background-size: contain;
}

.thumbnails {
    overflow: hidden;
    max-height: 100%;
    left: 0;
    list-style: none;
}

.thumbnails .container {
    display: inline-block;
    position: relative;

    width: 111px;
    height: 111px;
    overflow: hidden;

    margin: 20px;
    margin-right: 5px;
    margin-bottom: 5px;

    border: 1px solid #eee;
    background: #f0f0f0;
    border-radius: 10px;
}

.thumbnails .container, .thumbnails .container img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

li.sortable-helper {
    list-style: none;
}
li.sortable-helper img {
    height: 111px;
    clip-path: polygon(0px 111px, 111px 111px, 111px 0px, 0px 0px);
}
li.sortable-helper .options {
    display: none;
}
.thumbnails li:first-child {
    border: 1px solid var(--orange);
}
.thumbnails .options {
    position: absolute;
    top: 0; right: 0;
    background: black;
    opacity: 0; height: 0; border-radius: 0 5px;
}
.thumbnails .container:hover .options {
    opacity: 1; height: auto;
}
.thumbnails .options span i {
    font-size: 18px;
    color: white; user-select: none;
    margin: 0 5px;
}
.thumbnails .options span:first-child i {
    margin-right: 0;
}
.thumbnails .options span:nth-child(2) i {
    font-size: 16px; margin-right: 0px;
}
.thumbnails .container:hover .options span.disabled i {
    opacity: 0.4;
    pointer-events: none;
}

.thumbnails .container[style^="tran"] .options {
    display: none;
}

.thumbnails .image-preview {
    max-height: 111px;

}

.auction-deliveries {
    flex-direction: column;
}

.auction-deliveries .d-price {
    color: var(--link-blue);
    vertical-align: baseline;
    margin-left: 5px;
}

.user-settings fieldset {
    max-width: 100%;
}
.user-settings fieldset .cropper {
    max-width: 100%;
}
.user-settings fieldset .add {
    margin-top: 6px;
    font-size: 14px;
    cursor: pointer;
    color: var(--link-blue);
    opacity: 0.7;
}
.user-settings fieldset .add:hover {
    opacity: 1;
}
.user-settings fieldset .add i {
    font-size: 20px;
}
.user-settings fieldset .attributes {
    flex-wrap: wrap;
}
.user-settings fieldset .attributes input {
    width: 100%;
    display: block;
}

.user-settings fieldset > div > p > select {
    height: var(--input-h);
    border: 1px solid #ddd;
    width: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}
.user-settings fieldset > div > p > select + .label {
    line-height: var(--input-h);
    padding-left: 10px;
}

.AuctionList {
    width: 100%;
}

.AuctionList .auction {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}
.AuctionList .auction:not(:last-child):after {
    position: absolute;
    bottom: -29px;
    content: '';
    width: 100%;
    height: 1px;
    background: #ddd;
}

.image-wrapper,
.thumbnail-wrapper,
.auction-details__thumbnail-wrapper {
    position: relative;
    overflow: hidden;
}

.AuctionList .auction .image-wrapper {
    height: 220px;
    width: 300px;

    margin-right: calc(var(--page-margin) / 2);
}
.no-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    border: 1px solid #ddd;
}
.no-image:after {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    font-family: 'Material Icons';
    font-size: 40px;
    content: 'image_search';
    display: block;
    color: white;

}
.AuctionList .auction img {
    width: 100%;
    height: 100%;
}

.AuctionList .auction .text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.AuctionList .auction .text h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}
.AuctionList .auction .text .short-description {
    margin-bottom: 20px;
}
.AuctionList .auction .text .price, .price {
    color: var(--orange);
    font-size: 20px;
    font-weight: 400;
}

.price > .value {
    font-size: 25px;
    font-weight: bolder;

    margin-left: 5px;
    color: #444;
    vertical-align: baseline;
}
.AuctionList .auction .text .value:after, .price > .value:after {
    content: ' zł';
}

.AuctionList .auction .actions {
    position: relative;
    opacity: 0;
}
.AuctionList .auction:hover .actions {
    opacity: 1;
}
.AuctionList .auction .actions div {
   margin-top: 10px;
}
.AuctionList .auction .actions i {
    margin-left: 0px;
    cursor: pointer;
}

.AuctionList .auction .actions button {
    margin: 0 5px;
    padding: 10px 40px;
    cursor: pointer;

    border: 1px solid #ccc;
}

.AuctionList .auction .actions button {
    margin-left: 0;
}

.AuctionList .auction .actions button:hover {
    background: var(--orange);
    border: 1px solid white;
    color: white;
}
.AuctionList .auction .actions.dont-hide {
    opacity: 1;
}
.AuctionList .auction .time-details {
    margin: 15px 0;
    font-size: 14px;
}
.AuctionList .auction .time-details i {
    position: relative;
    top: -17px;
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
.AuctionList .auction .time-details span {
    display: inline-block;
}
.AuctionList .auction span.bidders-state {
    opacity: .5;
    font-size: 13px;
    display: block;
}

.public-DraftStyleDefault-block {

}

.add-horizontal-margin {
    margin-left: -10px;
}
.add-horizontal-margin input {
    cursor: pointer;
    display: inline-block;
    margin-left: 12px;
}
.add-horizontal-margin span {
    margin-left: 4px;
}

.pagination-wrapper {
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    user-select: none;
}
.avg-pagination {
    position: absolute;

    max-width: 100%;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}
.avg-pagination > a {
    margin: 0 5px;
    cursor: pointer;
}
.avg-pagination > a.active {
    font-weight: bold;
    color: var(--link-blue);
}
.auction-bids {
    height: 100%;
}
.no-result {
    width: 100%;
    height: 100%;
}
.no-result i, .TechBreak i {
    font-size: 70px;
}
.no-result h1, .TechBreak h1 {
    margin-bottom: 20px;
}
.no-result div {

}
.TechBreak, .Filtered .no-result {
    min-height: 50vh;
}
.no-result, .TechBreak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tab-view {
    display: flex;
}

.tab-view .tab-controls a {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #ccc;

    border-bottom: none;
    background: #fcfcfc;
}
.tab-view .tab-controls a:not(:last-child) {
    border-right: none;
}
.tab-view .tab-controls a.active {
    position: relative;
    background: white;
    font-size: 19px;
    bottom: -1px;
    z-index: 2;
}

.tab-view .tab-content-area, .tab-view .extra-tab {
    position: relative;

    padding: 10px;
    border: 1px solid #ccc;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #999;

    min-height: 500px;
    overflow-y: scroll;
    background: white;

    display: block;
}
/* extra tab */
.tab-view .extra-tab {
    flex: 1 1 45%;
    margin-top: 46px;
    margin-left: 100px; /* page margin */
    max-width: 526px;
    min-height: 454px;
    border: 1px solid #eee;
}
.tab-view > div {
    flex: 1 1 55%;
}
.tab-view .extra-tab > div  {
    position: relative;
    width: 100%;
    height: 100%;
}
.tab-view .tab-content-area > div:first-child {
    z-index: 1;
}
.tab-view .tab-content-area > div, .tab-view .extra-tab > div > div {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% - 20px);
    height: calc(100% - 44px);

    height: 100%;
    padding: 10px;
    background: white;
    color: black;
    display: none;
}
.tab-view .tab-content-area h2,
.tab-view .extra-tab h2 {
  font-size: 1.7em;
  margin: 10px 0;
}

.tab-view .tab-content-area h2 i,
.tab-view .extra-tab h2 i {
  margin-right: 10px;
}

.tab-view .extra-tab > div > div > h2 {
    margin-left: -10px;
}
.tab-view .extra-tab > div > div {
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translateY(-50%) translateX(-50%);
    display: block;
}
.tab-view .tab-content-area > div.active {
  box-sizing: border-box;
  z-index: 2;
  display: block;
}

.two-third-column, .three-column, .two-column, .one-column {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}

.six-column, .eight-column {
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;
}

.six-column > .column {
    --temp-width: calc(16.7% - 20px);
    flex: 0 0 var(--temp-width);
}

.six-column > .column:not(:last-child) {
    margin-right: 20px;
}

.eight-column > .column {
  flex: 0 0 calc(12.5% - 20px);
  flex-wrap: wrap;
  box-sizing: border-box;
}

.eight-column > .column:not(:last-child) {
    margin-right: 20px;
}

.eight-column .title,
.eight-column .description,
.eight-column .price-div {
  display: none;
}

.four-column {
    display: flex;
    justify-content: stretch;
    margin-top: 60px;
    margin-bottom: 60px;
}
.four-column > .column:not(:last-child) {
    margin-right: 30px;
}
.four-column > .column {
    position: relative;
    box-sizing: border-box;
    --temp-width: calc(25% - 25px);
    flex: 1 1 var(--temp-width);
    min-height: 250px;
    min-width: 250px;

    max-width: calc(33% - 20px);
}

.four-column > .column .ins {
    margin: auto;
}

.two-third-column > .column:first-child {
    --temp-width: calc(60% - 10px);
    flex: 0 0 var(--temp-width);
    margin-right: 20px;
}
.two-third-column > .column:last-child {
    --temp-width: calc(40% - 2px);
    flex: 0 0 var(--temp-width);
}

.three-column > .column {
    flex: 0 0 33%;
}
.three-column > .column:not(:last-child) {
    margin-right: 20px;
}



.two-column > .column {
    flex: 0 0 50%;
}
.two-column > .column:first-child {
    margin-right: 10px;
}
.two-column > .column:last-child {
    margin-left: 10px;
}

.one-column > .column {
    flex: 0 0 100%;
}

i.disabled {
    pointer-events: none;
    opacity: 0.5;
}
/*.five-column > .column:after {
    position: absolute;
    top: 50%; left: 50%;
    font-family: 'Material Icons';
    content: 'add_shopping_cart';
    color: white;
    font-size: 46px;
    letter-spacing: 1px;

    transform: translateY(-50%) translateX(-50%);

    text-align: center;
}*/

.rate-auction .Modal {
    position: fixed;
    z-index: 50;
}
.AuctionList .rate-auction .Modal .content {
    display: flex;
    flex-direction: column;
}
.AuctionList .rate-auction .Modal .content textarea {
    flex: 0 0 75% !important;
}
.AuctionList .rate-auction .Modal .title-text, .AuctionList .rate-auction .Modal .content, .AuctionList .rate-auction .Modal .actions {
    margin: 0;
}

.AuctionList .rate-auction .Modal .content .rate-user {
    display: block;
    padding: 0 30px;
    font-size: 11px;
}
.AuctionList .rate-auction .Modal .content .rate-user i:first-of-type {
    margin-left: 5px;
}
.like-icon {
    position: relative;
    top: -1px;
    margin-left: 10px;
    color: var(--hot-orange);
    opacity: .8;
    cursor: pointer;
}
.divider {
    width: 100%;
    height: 1px;
    background: #ddd;
}
.opinions table {
    width: 100%;
}
.opinions tr td:first-child {
    width: 70%;
}
.opinions tr td {
    position: relative;
    padding: 45px 20px;
    padding-bottom: 30px;
    font-weight: bold;

}
.opinions tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}
.opinions tr .auction-details {
    position: absolute;
    top: 10px;
    left: 22px;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.4;
    opacity: .7;
}
.opinions tr .auction-details .date {
    opacity: .8;
}
.opinions tr .auction-details .title {
    font-weight: 400;
}
.opinions tr .opinion:before {
    content: '„';
}
.opinions tr .opinion:after {
    content: '‟';
}
.opinions tr .opinion {
    display: inline-block;
}
.opinions tr .rater {
    display: inline-block;
    margin-top: 6px;
    opacity: .7;
}
.opinions tr .rater:before {
    content: ' -- ';
}

.avg-pagination, .pagination a {
    user-select: none;
}
.pagination-chevron {
    position: relative;
    top: -2px;
    color: var(--link-blue);
    opacity: 0.5;
}
.pagination-chevron:hover {
    opacity: 1;
}
.price-value:after {
    content: ' zł';
}
.Pay .Modal .title-text {

}
.Pay .Modal .content {
    padding: 20px;
    text-align: center;
}
.Pay h1 {
    text-align: center;
}
.Pay table {
    margin: 20px auto;
    text-align: left;

    border-top: 1px solid var(--link-blue);
    border-bottom: 1px solid var(--link-blue);

    opacity: .7;
}
.Pay table td {
    padding: 5px;
    color: var(--link-blue);
}
.Pay table td input {
    cursor: pointer;
}
.AuctionList .time-span {
    opacity: 0.8;
    margin-top: -4px;
}
.time-span {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    transform-origin: left;
    transform: scale(0.8);
    width: 123%;

}
.time-span:before {
    position: relative;
    top: 5px;
    font-family: 'Material Icons';
    font-size: 24px;
    content: 'alarm';
    margin-right: 5px;
}

.lettr-icon {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-right: 6px;

}
span.block {
    display: inline-block;
    width: calc(100% - 38px);
}

.warn i {
    vertical-align: top;
    margin-top: 1px;
}

.warn a {
    color: var(--link-blue);
}

i.material-icons.spinning {
    animation: spin 1s infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

form.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.Auction .user-settings .price-input-wrapper {
    width: 100%;
}

.Auction .user-settings .price-input-wrapper:after {
    top: 23px;
}
.Auction .user-settings .price-input-wrapper input {
    width: 100%;
    padding-right: 28px;
}

.cropper {
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.cropper .title {
    padding: 6px 20px;
    background: #eee; border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.cropper .options {
    display: flex;
    justify-content: flex-end;
    padding-top: 4px;
    background: #eee; border-top: 1px solid #ddd;
    cursor: pointer;
}
.cropper .options div:nth-child(3) i {
    margin-left: 10px;
    color: var(--bad);
}
.cropper .options div:nth-child(4) i {
    color: var(--good);
}

.cropper .cropper-bg, .cropper-modal  {
  background: white !important;
}

.auction-deliveries input {
    position: absolute;
    width: 100%;
}

.auction-deliveries .label {
    display: block;
    padding-top: 10px; padding-left: 26px;

}

.label.secondary {
    font-size: 10px !important;
    opacity: .6;
}

.premium-tag {
    margin: 0 !important;
    font-size: 18px !important;
    font-weight: bold;
    color: var(--good);
}
