.breadcrumb-category-info {

}

.breadcrumb-category-info h1 {
  margin-bottom: 8px;
  /* color: var(--orange); */
}

.breadcrumb-category-info .count,
.breadcrumb-category-info .description {
    margin: 5px 0;
}

.breadcrumb-category-info .count {
  margin-bottom: 16px;
  /* color: orange; */
}

.breadcrumb-category-info .description {
  margin-bottom: 30px;

}

.breadcrumb-navigation {

}
