@media screen and (max-width: 860px) {
  .App .packet-purchase-container .packet {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .App .packet-purchase-container .packet-inner {
    box-sizing: border-box;
    width: 100%;
  }

  .App .packet-purchase-choices {
    max-width: none;
  }

  .App .packet-purchase-choices h2 {
    text-align: center;
  }

  .App .packet-purchase-choices .buttons {
    float: none;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 340px) {
  .App .packet-purchase-choices .buttons {
    flex-direction: column;
    align-items: center;
  }

  .App .packet-purchase-choices .button {
    margin: 0;
  }
}
