.packet-purchase-choices {
  max-width: 786px;
  margin: auto;
}

.packet-purchase-container {
  display: flex;
  flex-wrap: wrap;
}

.packet-purchase-container .packet {
  flex: 0 0 33%;

  height: 100%;
  max-width: 260px;
  min-width: 220px;

  text-align: center;

  margin-bottom: 50px;
}

.packet-purchase-container .packet.active .packet-inner {
  background: #eee;
}

.packet-purchase-container .packet.active .packet-action {
  background: var(--orange);
}

.packet-purchase-container .packet-inner {
  width: 80%;
  height: 100%;

  border: 10px solid #eee;
}

.packet-purchase-container .packet-name {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  padding: 10px 0 20px 0;
  background: #eee;
}

.packet-purchase-container .packet-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  min-height: 103px;
  padding: 30px 0;
  padding-top: 15px;
  border-bottom: 1px solid #eee;

}

.packet-purchase-container .big {
  margin: 0;
  font-size: 70px;
  font-weight: 400;
}

.packet-purchase-container .medium {
  font-size: 30px;
  font-weight: 400;
}

.packet-purchase-container .small {
  font-size: 20px;
  font-weight: bold;
  opacity: .67;
  margin-top: -15px;
}

.packet-purchase-container .red {
  color: var(--hot-orange);
}

.packet-purchase-container .packet-count,
.packet-purchase-container .packet-cost,
.packet-purchase-container .packet-action {
  margin-bottom: 15px;
}

.packet-purchase-container .packet-cost {
  font-size: 30px;
}

.packet-purchase-container .packet-action {
  font-size: 13px;

  max-width: 80px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  padding: 6px 0;

  color: white;
  background: var(--hot-orange);
  border-radius: 3px;

  cursor: pointer;
}

.packet-purchase-container .packet-action:hover {
  animation: toOrange .3s normal forwards ease-out;
}

.packet-purchase-container .promotion:not(.unlimited) {
  pointer-events: none;
}

.packet-purchase-container .promotion:not(.unlimited) .packet-inner,
.packet-purchase-container .promotion:not(.unlimited) .red {
  color: #eee !important;
}

.packet-purchase-container .promotion:not(.unlimited) .packet-action {
  background: #eee;
}

.packet-purchase-container .promotion.unlimited {
  order: -1;
  opacity: 1;
  pointer-events: all;
}

.packet-purchase-container .promotion.unlimited .packet-cost {
  text-decoration: line-through;
}

.packet-purchase-choices .buttons {
  float: right;
  display: flex;
  user-select: none;
}

.packet-purchase-choices .button {
  padding: 12px 26px;
}

.packet-purchase-choices .promote-from-credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 10px solid #eee;
  padding: 20px;
  margin: 30px 0;
}

.packet-purchase-choices .promote-from-credits h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.packet-purchase-choices .promote-from-credits h3 {
  text-align: center;
}

.p24-buy-button {

  max-width: 240px;
  margin-right: 40px;


  font-size: 17px;
  color: white;
  background: var(--orange);
  border: 1px solid var(--hot-orange);
  border-radius: 3px;
}

.p24-buy-button .przelewy24-signature {
  font-style: italic;
  font-weight: bold;
  color: red;
}

.p24-buy-button .przelewy24-signature span {
  color: #555;
}
