.Properties {
	display: flex;
	flex-wrap: wrap;

	margin-top: 15px;
	margin-left: -3px;
}

.Properties .property {
	position: relative;
	margin: 2px 4px;
}

.Properties .property label {
	display: block;
	margin-bottom: -8px;
	font-size: 12px; font-weight: bold;
}

.Properties .unit-span {
	position: relative;
}

.Properties .input-input {
	max-width: 177px;
}

.Properties .input-input input {
	padding-right: 30px;
}

.Properties .input-input .unit {
	position: absolute; top: 5px; right: 7px;
	font-size: 11px;
}

.Properties .input-input .input-hints {
	position: absolute;
	box-sizing: border-box;
	width: 100%;

	margin-top: -10px; margin-left: -19px; margin-bottom: 10px;
	padding: 0; padding-bottom: 5px;
	list-style: none;
	background: white;
	border: 1px solid #ddd; border-top: none;

	z-index: 5;

}

.Properties .input-input .input-hints li {
	box-sizing: border-box;
	font-size: 13px;
	padding: 1px 5px;
	cursor: pointer;

}

.input-input .input-hints,
.input-input .hints {
	max-height: 300px;
	overflow-y: scroll;
}

.input-input .hint.check-all {
	text-align: center;
}

.input-input .hint.checkable.set {
	background: #eee;
}
/* .input-input .input-hints li span,
.input-input .hints li span {
	word-break: break-all;
} */
