.CategoryFilters .CategoryTree, .CategoryFilters .breadcrumb-navigation {
	display: flex;
	flex-wrap: wrap;
}

.CategoryFilters .CategoryTree a {
	display: block;
	margin: 5px 0;
	flex: 0 0 16%;
}

.CategoryFilters .breadcrumb-navigation span {
	display: block;
	font-size: 14px;

}

.CategoryFilters .breadcrumb-navigation span:not(:last-of-type) a:after {
	display: inline-block;
	content: ' > ';
	font-size: 10px;
	margin: 0 6px;
}

.input {
	position: relative;
	display: block;
	padding-right: 15px; padding-bottom: 15px;
}

.input label {
	display: block; font-size: 12px; font-weight: bold;
}

.input input {
	display: block;
	box-sizing: border-box;

	padding-left: 10px;
	height: var(--input-h);
	border: 1px solid #ddd;
}

.input .unit-span {
	display: block;
}

.CategoryFilters .input .unit {
	top: 30px; pointer-events: none;
}

.CategoryFilters .input .unit i {
	margin-top: -5px; opacity: 0.7;
}

.input .hints {
	position: absolute; left: 0;
	box-sizing: border-box;
	width: calc(100% - 15px);
	margin: 0; padding: 0; padding: 5px;
	border: 1px solid #eee; border-top: none;
	list-style: none; background: white;

	z-index: 5;
}

.input-hints,
.input .hints li {
	font-size: 13px;
	word-break: normal;
	cursor: pointer;
}

.input .hints li input[type="checkbox"] {
	display: inline;
	height: 13px;
	width: 12px;
	margin: 0; margin-right: 5px;
	cursor: pointer;
}

.CategoryFilters .input-multiple {
	cursor: pointer; user-select: none;
}

.CategoryFilters .input-multiple input[type="checkbox"] {
	position: absolute;
	top: 3px; left: 0px;
}
.CategoryFilters .input-multiple .hints li {
	position: relative;
	padding-left: 17px;
}

.input .hints li:hover {
	font-weight: bold;
}

.CategoryFilters .input-range {
	position: relative;
}

.CategoryFilters .input-range input {
	border-left: 1px solid #ccc;
}

.CategoryFilters .input-range:before {
	position: absolute; left: -4px; top: 36px;
	display: block;
	content: '';

	width: 4px; height: 70px;
	border: 1px solid #ccc; border-right: none;

	background: transparent;
}
