.CategoryFilters {
	margin-bottom: 30px;
}

.CategoryFilters .CategoryTree a {
	position: relative;
	display: block; box-sizing: border-box;
	padding-left: 32px;
	margin-bottom: 20px;
	flex: 0 0 25%;
}
.CategoryFilters .breadcrumb-navigation {
	height: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.CategoryFilters .Properties:last-child {
	margin-top: 0;
}

.CategoryFilters .Properties {
	flex-direction: column;
	align-items: center;
}

.CategoryFilters .Properties .input-singular,
.CategoryFilters .Properties .input-multiple,
.CategoryFilters .Properties .input-range {
	width: 80%;
}

.CategoryFilters .Properties .input-input {
	width: 100%;
	max-width: 100%;
}

.CategoryFilters .Properties input {
	width: 100%;
}

#search-properties,
.category-tree-alt {
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding-top: 10px;
}

.category-tree-alt__wrapper {
	display: flex;
	flex-direction: column;
}

.category-tree-alt__links {
	margin-bottom: 2px;
}

.category-tree-alt__links.active > .category-tree-alt__links__link {
	font-weight: bold;
}

.category-tree-alt__links__link {
	font-size: 14px;
	margin-bottom: 5px;
}

.category-tree-alt__links__link,
.category-tree-alt__links__subcategories {
	list-style: none;
}

.category-tree-alt__links.active {
	order: -1;
}

/* .CategoryFilters a:before {
	position: absolute;
	top: -1px; left: 0;
	font-family: 'Material Icons'; font-size: 24px;
	opacity: 0.7;

	vertical-align: baseline;
}

.CategoryFilters a[class]:before {
	content: 'chevron_right';
} */

.CategoryFilters .CategoryTree a {
		/* position: relative; */
}

.CategoryFilters .CategoryTree i {
	position: absolute;
}

.CategoryFilters .CategoryTree:not(.category) a {
	padding-right: 20px;
	padding-left: 23px;
}

.CategoryFilters .CategoryTree.subsubcategory {
	font-size: 15px;
}

.CategoryFilters .CategoryTree.subcategory a,
.CategoryFilters .CategoryTree.subsubcategory a {
	flex: 0 0 auto;
}

.CategoryFilters .CategoryTree a.active {
	position: relative;
	/* font-weight: bold; */

}

.CategoryFilters .CategoryTree a.non-active {
	opacity: .3;
}

.CategoryFilters .CategoryTree a.active:after {
	position: absolute;
	left: 50%; bottom: -20px;

	width: 0;
	height: 0;
	content: '';

	border-left: 22px solid transparent;
	border-right: 22px solid transparent;

	/* border-bottom: 22px solid var(--orange); */
	border-bottom: 22px solid #ccc;
	transform: translateX(-50%);
}

.CategoryFilters .CategoryTree .nested-category-tree-row {
	flex: 0 0 100%;
	/* padding: 10px 0px 10px 30px; */

	margin-left: -10px;

	background: #fbfbfb;
	border-radius: 20px;
	border: 1px solid #ccc;

	box-shadow: 10px 10px 26px #aaa;

	animation: fadeIn .3s normal forwards ease-out;
}

.CategoryFilters .CategoryTree .nested-category-tree-row.top {
	background: #fff;
}

.CategoryFilters .CategoryTree .nested-category-tree-row .subtitle {
	padding: 14px 23px;

	margin-top: -1px;
	/* color: white; */
	/* background: var(--orange); */

	border-bottom: 1px solid #ddd;

	border-radius: 20px 20px 0 0;
	display: none;
}

.CategoryFilters .CategoryTree .nested-category-tree-row.top .subtitle {
	/* background: orange; */
	color: var(--orange);
	background: white;
	display: block;
}

.CategoryFilters .CategoryTree .nested-category-tree-row .wrapper {
	padding: 20px 0 4px 0;
}


.CategoryFilters .filter-button-wrapper {
	display: flex;
	justify-content: flex-end;
}

.CategoryFilters .filter-button {
	margin-top: 16px;
	margin-right: 30px;
	padding: 10px 20px;
	color: white;
	background: var(--hot-orange);
	border-radius: 5px;

	cursor: pointer;
}

.CategoryFilters .filter-button:hover {
	animation: toOrange .3s normal forwards ease-out;
}

.CategoryFilters .filter-button i {
	font-size: 20px;

}

keyframes @toOrange {
	from {}
	to { background: var(--orange); }
}
