.Chat {
	display: inline-block;
	cursor: pointer;
}
.Chat .thread-container .title {
	font-weight: 400 !important;
}
.Chat .thread-container .title:not(:last-child) {

}

.Chat .thread-container .title i {
	position: relative;
	top: -1px;
}

.Chat .thread-container p:hover {
	color: var(--link-blue);
}
.Chat .thread-container .chat:not(.unseen) {
	font-weight: 100;
}
.Chat .title i {
	vertical-align: top
}
.Chat .title .title-text {
	padding-left: 2px;
	display: inline-block;
	width: 80%;
}

.Chat .no-mail {
	text-align: center;
	opacity: 0.3;
}
.Chat .close-chat-box {
	position: absolute;
	right: 10px;
	top: 10px;
	user-select: none;
}
.Chat .close-chat-box i {
	color: var(--link-blue);
	opacity: 0.3;
}
.Chat .close-chat-box i:hover {
	opacity: 1;
}
.Chat .wrapper {
	position: relative;
}

.Chat .unseen-messages {
	display: block;
	position: absolute;
	right: -5px;
	top: 10px;

	color: var(--hot-orange);
	font-size: 12px;
	font-weight: bold;

	width: 20px;
	height: 20px;

	border-radius: 50%;
	border: 1px solid #999;

	text-align: center;
	line-height: 20px;
	background: white;
	pointer-events: none;
}
.Chat .chat i.new {
	position: relative;
	top: -1px;
	left: 5px;
	font-size: 24px;
}

.Chat .chat-box {
	position: fixed;
	bottom: 1px;
	right: 1px;

	box-sizing: border-box;
	width: 450px;
	height: 400px;

	line-height: 1.5;
	background: white;
	border: 1px solid #ccc;
	z-index: 5;

	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.Chat .chat-box .chat-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}
.Chat .chat-box .chat {
	font-weight: bold;
	font-size: 18px;
	padding: 10px 30px;
}
.Chat .chat-box .title {
	flex: 0 0 28px;
	align-self: flex-start;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	padding: 11px;
	border-bottom: 1px solid #eee;
}
.Chat .chat-box .see-auction:hover {
	/*color: var(--link-blue);
	font-weight: 100;*/
	text-decoration: underline;
}
.Chat .chat-box .see-auction i {
	display: none;
	margin-right: 4px !important;
	vertical-align: bottom;
	font-size: 25px;
}
.Chat .chat-box .see-auction:hover i {
	color: var(--orange);
}
.Chat .chat-box i {
	font-size: 28px;
}
.Chat .chat-box .title i {
	margin-right: 10px;
	color: var(--link-blue);
}
.Chat .chat-box .messages {
	flex: 1 1 auto;

	box-sizing: border-box;
	padding: 30px 10px;
	overflow-y: scroll;

	position: relative;
	bottom: 0;
}
.Chat .chat-box .messages .message-row {
	width: 100%;
	clear: both;
	overflow: auto;
}
.Chat .chat-box .message {
	position: relative;
	padding: 10px 15px;
	margin: 2px;
	border-radius: 7px;
	line-height: 1.5;
	white-space: pre-line;
}
.Chat .chat-box .message.mine, .Chat .chat-box .message.his {


}
.Chat .chat-box .messages .mine {
	float: right;
	margin-right: 10px;

	background: #f9f0e0;
}

.Chat .chat-box .messages .his {
	float: left;
	margin-left: 10px;
	background: #d9f0f0;
}
.Chat .chat-box .messages .mine:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: #f9f0e0;
	border-right: 0;
	border-bottom: 0;
	margin-top: -4px;
	margin-right: -10px;
}
.Chat .chat-box .messages .his:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #d9f0f0;
	border-left: 0;
	border-bottom: 0;
	margin-top: -4px;
	margin-left: -10px;
}
.Chat .chat-box .actions {
	display: flex;
	justify-content: space-between;

	flex: 0 0 45px;
	box-sizing: border-box;
	align-self: flex-end;
	width: 100%;
	border-top: 1px solid #eee;
}
.Chat .chat-box .actions textarea.chat-message-input {
	box-sizing: border-box;
	padding-left: 30px;

	width: calc(100% - 130px);
	height: 42px;
	padding-top: 10px;

	resize: none;
}
.Chat .chat-box .actions .icon-button {
	display: inline-block;
	padding: 10px 20px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	height: 100%;
	cursor: pointer;
}
.Chat .chat-box .actions .icon-button i {
	margin-right: 5px;
}
.Chat .chat-box .actions .icon-button:hover {
	background: #fbfbfb;
}
