.site-contact-form {
  max-width: 800px;
  margin: calc((100vh - 600px) / 2) auto;

  background: white;

  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
}

.site-contact-form .title,
.site-contact-form .body,
.site-contact-form .action {
  display: flex;
  align-items: center;
}

.site-contact-form .title,
.site-contact-form .action {
  padding: 10px 20px;
  min-height: 37px;
}

.site-contact-form .title {
  border-bottom: 1px solid #eee;
}

.site-contact-form .body p {
  font-size: 12px;
  padding: 10px 20px;
}

.site-contact-form .action {
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

.site-contact-form form {
  width: 100%;
}

.site-contact-form textarea {
  display: block;

  box-sizing: border-box;
  width: 100%; height: 200px;

  padding: 10px 20px;

  resize: none;
  /* background: #fcfcfc; */
}

.site-contact-form .title i {
  margin-right: 6px;
}
