.dropdown-user-stats .title {
  font-size: 15px;
  padding: 5px 0;
}

.dropdown-user-stats {
  border: 1px solid #ddd;
  border-top: 1px dashed #bbb;
  display: block;
  text-align: center !important;
  background: #eee;
}
