.FrontPage h1,
.frontPageCategories,
.frontPageCategories .category-link,
.frontPageCategories .category-link img,
.carousel-control .control i  {
	user-select: none;
}

.frontPageCategories {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: 0;
}

.frontPageCategories .category-link {
	min-width: 150px;
}

.frontPageCategories .category-link img {
	max-width: 56px;
}

figure.frontpage {
	text-align: center;
	margin: 0; margin-bottom: 20px;
}

.frontPageCategories.carousel {
	position: relative;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-top: 46px !important;

	overflow: hidden;
}

.carousel-control .control.disabled {
	opacity: 0.25; pointer-events: none;
}

.carousel-control .control {
	position: absolute;
	top: 0;
	width: 20px; height: 100%; line-height: 100%;
	opacity: .9;
	cursor: pointer;
}
.carousel-control .control:hover {
	opacity: 1; background: white;
}

.carousel-control .control i {
	position: absolute;
	top: 50%; left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.carousel-control .control.left {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0.65+0,0+100 */
	background: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	left: 4px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.carousel-control .control.right {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+0,0.65+100 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,255,255,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(255,255,255,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffffff',GradientType=1 ); /* IE6-9 */
	right: 4px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.front-page-more .auction {
	margin-bottom: 10px;
}

.extra-small-icon {
	max-width: 28px;
	margin-right: 6px; margin-top: -2px;
	vertical-align: middle;

}

.FrontPage .most-popular  {

}

.front-page__heading {
    color: var(--orange);
    font-size: 40px;
    margin-top: 30px;
}

.FrontPage h2 > i {
    position: relative;
    top: -5px;
    font-size: 40px;
}
.FrontPage .no-image {
    min-height: 400px;
}
.FrontPage .auction {
    cursor: pointer;
    background: white !important;
    border: 1px solid #eee;
    padding: 0;
    box-shadow: 1px 1px 1px #ccc;

    overflow: hidden;
}
.FrontPage .auction .photo {
    position: relative;
    width: calc(100% + 1px);

    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 5px solid #f8f8f8;

}

.FrontPage .auction .title h3 {
  font-size: 1.5em;
}
.FrontPage .auction .title {
    position: relative; z-index: 5;
    font-size: 20px;
}
.FrontPage .auction .title.long {
  font-size: 15px;
}
.FrontPage .auction .price .value {

}
.FrontPage .auction .price .value.long {
  font-size: 18px;
}
.FrontPage .auction .description {
    font-weight: 100; opacity: 0.7;
    margin-top: -6px;
}

.FrontPage .auction .description > p {

}

.FrontPage .auction .photo img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* .FrontPage .auction .photo img:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.1) rotate(4deg);
} */
.FrontPage .title, .FrontPage .description {
    margin: 10px 0;
    max-width: 600px;
}
.FrontPage .six-column .title {
    font-size: 9px;
    padding: 10px;
    padding-top: 0;

    opacity: 0.7;
    margin-bottom: 0;
}
.FrontPage .six-column .column:hover .title {
    opacity: 1;
}
.FrontPage .six-column .column:hover .description, .FrontPage .six-column .column:hover .price-div {

}
.FrontPage .six-column .description {
    font-size: 14px;
    padding: 10px;
    display: none;
}
.FrontPage .six-column .price-div {
    transform-origin: left;
    transform: scale(.6);
    display: none;
}
.FrontPage .six-column .photo, .FrontPage .six-column .no-image {
    min-height: 190px;
}


.FrontPage .title, .FrontPage .description, .FrontPage .price-div {
    padding: 0 20px;
}
.FrontPage .price-div {
    padding-top: 10px;
    padding-bottom: 20px;

    white-space: nowrap;
}
