.registration-panel {
    display: flex;
    margin: 0 var(--page-margin);

    background: -moz-linear-gradient(248deg, rgba(252,133,10,1) 0%, rgba(163,218,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,133,10,1)), color-stop(100%, rgba(163,218,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(248deg, rgba(252,133,10,1) 0%, rgba(163,218,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(248deg, rgba(252,133,10,1) 0%, rgba(163,218,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(248deg, rgba(252,133,10,1) 0%, rgba(163,218,255,1) 100%); /* ie10+ */
    background: linear-gradient(202deg, rgba(252,133,10,1) 0%, rgba(163,218,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FC850A', endColorstr='#A3DAFF',GradientType=0 ); /* ie6-9 */
}

.registration-panel .column {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.registration-panel .column:first-child .container {
    padding-top: 50px;
    padding-left: 100px;
}
.registration-panel.login .column:first-child .container {

}

.registration-panel .column .container {
    padding: 30px;
}

.registration-panel h1 {
    color: white;

    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.registration-panel img {
    max-width: 100%;
}

.registration-panel label {
    position: relative;
    display: block;
    margin: 20px 0;
    padding-left: 25px;
    color: white;
}
.registration-panel .rodo label {
    font-size: 12px;
}
.registration-panel a {
    color: #eee;
}
.registration-panel .rodo .extra-info {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.registration-panel .rodo label:hover .extra-info {
    opacity: 1;
}
.registration-panel .rodo label:first-of-type {
    margin-bottom: 10px;
}
.registration-panel label .checkbox-value {
    position: absolute;
    left: 0;
    top: 0;

    width: 15px;
    height: 15px;

    border: 1px solid #fff;
    cursor: pointer;
}
.registration-panel label input[type='checkbox'] {
    opacity: 0;
    margin-right: -12px;
}
.registration-panel label input[type='checkbox']:checked ~ .checkbox-value {

}
.registration-panel label input[type='checkbox']:checked ~ .checkbox-value:after {
    position: relative;
    top: 0px;
    left: 2px;
    font-family: 'Material Icons';
    content: 'done';
    color: white;
}

.registration-panel .oauth {
    display: flex;
}
.registration-panel .oauth div a {
    width: 100%;
}
.registration-panel .oauth div, .registration-panel .oauth a {
    flex: 0 0 calc(50% - 55px);
    position: relative;
    height: var(--input-h);
    font-size: 13px;
    line-height: var(--input-h);

    margin-bottom: 20px;
    padding-left: 50px;

    color: white;
    border-radius: 5px;

}
.registration-panel .oauth a:first-child {
    margin-right: 10px;
}
.registration-panel .oauth div:last-child {
    margin-left: 10px;
}
.registration-panel .oauth div img, .registration-panel .oauth a img {
    position: absolute;
    width: 24px;
    top: 8px;
    left: 10px;
}
.registration-panel .oauth div span {

}
.facebook {
    background: var(--facebook);
}
.google {
    background: var(--google);
}
.linkedin {
    background: var(--linkedin);
}
.registration-panel input:not([type='checkbox']) {
    display: block;
    width: calc(100% - 40px);
}
.registration-panel .email > span, .registration-panel .rodo {
    display: block;
    position: relative;
}
.registration-panel .message {
    display: none;
}
.registration-panel input:focus ~ .message {
    display: block;
}

.registration-panel .email > span .message, .registration-panel .rodo .message {
    position: absolute;
    top: var(--input-h);
    left: 0;

    padding-top: 2px;
    font-size: 11px;
    color: white;
    opacity: .8;
}
.registration-panel .rodo .message {
    top: 26.5px;
    left: 0px;
}
.registration-panel button {
    width: 100%;
}
.registration-panel button, .registration-panel input:not([type='checkbox']) {
    height: var(--input-h);

    margin-bottom: 25px;
    padding: 0 20px;
    border: none;
}
.registration-panel button, .registration-panel .oauth div {
    cursor: pointer;
}

.registration-panel button {
    color: white;
    background: var(--facebook);
    border-radius: 5px;
}

.registration-panel .options {
    display: flex !important;
    justify-content: space-between;
}
.registration-panel .options span {
    display: block;
}
.registration-panel .options span a, .registration-panel .options label {
    color: white;
    margin: 20px 0;
    margin-top: 0;

    display: inline-block;
}

.registration-panel button.submit {
  margin-top: 20px;
}

.registration-panel .change-auth-path {
  font-size: 13px;
  color: white;
  float: right;
}

.registration-panel .change-auth-path a {
  text-decoration: underline;
  color: white;
}
