.app-logo {
  margin-left: var(--page-margin);
  max-height: 100%;
  overflow: hidden;
}

.app-logo img {
  margin-top: 12px;

  max-width: 116px;
}

footer .app-logo-link,
footer .app-logo {
  height: 120px;
}

footer .app-logo img {
  max-width: 100px;
  height: auto;
}
