.MobileMenu {
	display: none;
	flex-direction: column;
	justify-content: space-between;

	width: 45px;
	height: 28px;

	margin-right: var(--page-margin);
	cursor: pointer;

	user-select: none;
}

.MobileMenu div {
	width: 100%;
	height: 3px;
	background: var(--orange);

	transform-origin: center;

	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	user-select: inherit;
}

.MobileMenu.open div:first-child {
	-webkit-transform: translateY(12.5px) rotate(-45deg);
	transform: translateY(12.5px) rotate(-45deg);
}
.MobileMenu.open div:nth-child(2) {
	width: 0%;
	opacity: 0;
}
.MobileMenu.open div:last-child {
	-webkit-transform: translateY(-12.5px) rotate(45deg);
	transform: translateY(-12.5px) rotate(45deg);
}

nav .user-links .search-mobile {
	display: none;
}

@media screen and (max-width: 6000px) {
	:root {
		--page-margin: 300px;
	}
}

@media screen and (max-width: 2200px) {
	:root {
		--page-margin: 200px;
	}
}

@media screen and (max-width: 2000px) {
	:root {
		--page-margin: 150px;
	}
}
@media screen and (max-width: 1700px) {
	:root {
		--page-margin: 100px;
	}
}
@media screen and (min-width: 1580px) {
	.AuctionDetails .tab-view a[href="#bids"] {
		display: none;
	}
	.AuctionDetails .OtherUser .auctions {
		column-count: 4;
	}
}
@media screen and (max-width: 1579px) {
	.AuctionDetails .tab-view .extra-tab {
		display: none;
	}
	.AuctionDetails .tab-view > div {
    	flex: 0 0 100%;
	}
}

@media screen and (max-width: 1470px) {
	.PromoteAuction .promo-form {
		flex-direction: column-reverse;
		padding: 0 !important;
	}
	.PromoteAuction .promo-form h2 {
		background: #ccc;
		padding-top: 16px;
		color: white;
	}
	.PromoteAuction .promo-form i {
		display: none;
	}
	.PromoteAuction .promo-form span:not(:first-child) {
		box-sizing: border-box;
		padding: 5px 10px;
	}
	.PromoteAuction .promo-form > div {
		border: 1px solid #eee;
		margin: 40px 0 !important;
	}
}

@media screen and (max-width: 1350px) {
	.App .registration-panel {
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0;
	}
	.App .registration-panel .column {
		box-sizing: border-box;
		padding: 50px;
	}
	.App .registration-panel.login .column .container, .App .registration-panel.register .column .container {
		min-width: 300px;
		padding: 0;
		margin: 0 auto;
	}
	.App .registration-panel .column .container > img {
		display: none;
	}
	.App .registration-panel .column:first-child {
		order: 2;
		padding-top: 0;
	}
	.App .registration-panel .column:last-child {
		padding-bottom: 40px;
	}
	.App .registration-panel .options {
		flex-direction: column;
		align-items: flex-start;
	}
	.App .registration-panel .options span:last-child {
		margin-top: -15px;
	}
	.App .registration-panel .options span:first-child {
		order: 1;
		display: none;
	}
	.App .eight-column {
		display: none;
	}
}

@media screen and (max-width: 1300px) {
	/*body {
		padding-top: calc(var(--nav-h) + 74px);
	}

	nav .search-auctions {
		position: fixed;
		width: 100%;
		top: calc(var(--nav-h) - 2px);

		box-sizing: border-box;
		padding-bottom: 10px;
		padding-right: var(--page-margin);
		background: white;
		border-bottom: 1px solid #eee;

		display: flex;
		justify-content: flex-end;
	}

	nav .search-auctions button {
		border: 1px solid var(--orange);
		background: white;
		color: var(--hot-orange);
	}
	nav .search-auctions button:hover {
		background: var(--hot-orange);
		color: white;
	}*/
	nav .search-auctions .inputs .item {
		width: auto;
	}
}

@media screen and (max-width: 1350px) {
	body {
		padding-top: calc(var(--nav-h));
	}

	.MobileMenu {
		display: flex;
	}

	.navigation-welcome {
		display: none;
	}

	nav {
		/* flex-wrap: wrap; */
	}

	nav .user-links {
		position: fixed;
		top: calc(var(--nav-h) - 1px);
		right: 0;
		width: 160px;

		display: none;
		flex-direction: column;
		align-items: center;

		margin: 0;
		padding: 20px 40px;
		padding-bottom: 40px;
		background: white;

		border-left: 1px solid #eee;
		border-bottom: 1px solid #eee;

		z-index: 30;
	}

	nav .user-links.open {
		display: flex;
	}
	nav .search-auctions {
		justify-content: flex-start !important;
	}
	nav .search-auctions.open {
		display: flex;
	}

	/* nav .user-links .search-mobile {
		display: block;
	} */

	nav .user-links.open > a, nav .user-links.open > span {
		margin: 0;
		min-height: 44px;
		line-height: 44px;
	}
	nav .user-links.open > span.link {
		margin: 0;
	}
	nav .user-links.open > a:not(:last-child), nav .user-links.open > span:not(:last-child) {
		margin-bottom: 20px;
	}

	nav .user-links.open > .link:last-child img {
		display: none;
	}
	nav .user-links.open .dropdown {
		opacity: 1;
		width: 240px; top: 40px; right: -121px;
		pointer-events: auto;
		text-align: center;
	}

	.App nav .user-links .dropdown-toggle {
		height: 0;
		min-height: 0;
		line-height: 0;
		margin-bottom: 0 !important;
	}
	nav .user-links .dropdown-toggle img {
		opacity: 0;
		pointer-events: none;
	}

	nav .user-links a:hover .dropdown,
	nav .user-links span.link:hover .dropdown {
		animation: none;
	}

	nav .user-links.open .dropdown a {
		padding-left: 5px;
		text-align: left;
	}
	nav .user-links.open .dropdown a:after {
		float: left;
		margin-right: 9px;
	}
	/* nav .search-auctions {
		position: fixed;
		top: var(--nav-h);
		display: none;

		box-sizing: border-box;
		flex: 0 0 100%; width: 100%;
		height: auto !important;

		justify-content: flex-end;
		align-items: center;

		margin-top: -2px;
		padding: 0 var(--page-margin); padding-bottom: 16px;
		height: 70px;
		background: white;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
	} */

	.breadcrumbs {
		display: none;
	}
}

@media screen and (max-width: 1270px) {
	.App .AuctionDetails .basic-info {
		flex-direction: column;
	}
	.App .AuctionDetails .basic-info .text {
		text-align: center;
		width: 100%;

		padding: 0;
		margin: 40px 0;
	}
	.App .AuctionDetails .like-auction {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.App .AuctionDetails .basic-info .text h1 {
		max-width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
	.App .AuctionDetails .basic-info .text .content {
		width: 100%;
	}
	.AuctionDetails .end-tag {
		margin-left: 20%;
	}
	.AuctionDetails .attribute-tags {
		justify-content: center;
	}
	.App .AuctionDetails .auction-views {
	    justify-content: center;
	}
}

@media screen and (max-width: 980px) {
	.App .Profile {
		flex-direction: column;
	}
	.App .Profile .links {
		margin: 0;
		margin-bottom: 60px;
	}
	.App .Profile .user-settings {
		max-width: none;
		width: 100%;
	}
	.App .Profile .user-settings fieldset {
		box-sizing: border-box;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.App .Profile .pagination-wrapper:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1295px) {
	.App .AuctionListSearch, .App .MyAuctions {
		flex-direction: column;
	}

	.App .AuctionListSearch .CategoryFilters {
		/*order: 2;*/
	}

	.App .AuctionListSearch .advanced-search {
		margin: 0; margin-bottom: 20px;
		/*order: 2;*/
	}

	.App .AuctionListSearch .advanced-search.filters {
		flex: 0 0 auto;
	}

	.App .OtherUser .auctions {
		column-count: 5;
	}

	.AuctionList .file-form {
		margin-top: 30px;
	}

	.category-tree-alt__links {
		text-align: center;
		left: 0;
	}
}

@media screen and (max-width: 1224px) {
	.App .AuctionDetails .opinions table {
		width: 100%;
	}
	.App .AuctionDetails .opinions table td {
		width: auto;
	}
}
@media screen and (max-width: 936px) {
	.App .AuctionDetails .opinions table td:first-child {
		border: none;
		padding-bottom: 5px;
	}
	.App .AuctionDetails .opinions table td:last-child {
		padding: 0 20px;
		padding-bottom: 20px;
		width: 100%;
	}
	.App .AuctionDetails .opinions table td {
		display: inline-table;

	}

}
@media screen and (max-width: 1100px) {
	.cookie-message {
		flex-direction: column;
	}
	.cookie-message > div {
		flex: 0 0 100%;
		text-align: center;
	}
	.cookie-message > p {
		max-width: 600px;
		margin: auto;
	}
}
@media screen and (max-width: 1155px) {
	.App .OtherUser .auctions {
		column-count: 4;
	}
}
@media screen and (max-width: 975px) {
	.App .OtherUser .user-data {
		flex-direction: column;
		margin-top: 20px;
		margin-left: 20px;
	}
	.App .OtherUser .user-data button {
		margin: 0;
		margin-top: 10px;
	}
	.App .OtherUser .user-data .column {
		margin: 0;
	}
	.App .OtherUser .auctions {
		column-count: 3;
	}
}
@media screen and (max-width: 961px) {
	.App .AuctionDetails .tab-view .tab-controls {
		display: flex;
		flex-direction: column;
	}
	.App .AuctionDetails .tab-view .tab-controls a {
		display: block;
		border-right: 1px solid #ccc;
	}
	.App .AuctionDetails .tab-view .tab-controls a.active {
		order: 5;
	}
}
@media screen and (max-width: 950px) {
	#shipping, #bids, #description {

	}
}
@media screen and (max-width: 853px) {
	.App .AuctionDetails .photos-small {
		flex-wrap: wrap;
	}
	.App .AuctionDetails .photos-small .thumbnail-wrapper {
		flex: 0 0 calc(25% - 6px);
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 820px) {
	.App .pagination {
		flex-direction: column;
		align-items: center;
	}

	.App .pagination-pages {
		margin-top: 16px;
	}
}
@media screen and (max-width: 770px) {
	.App .OtherUser .auctions {
		column-count: 2;
	}
}
@media screen and (max-width: 490px) {
	.App .OtherUser .auctions {
		column-count: 1;
	}
	.App .OtherUser .auctions .auction {
		word-break: normal;
	}
	.App .pagination, .App .pagination input, .App .pagination select {
		font-size: 11px;
	}
}

@media screen and (max-width: 1200px) {
	footer .category-links {
		display: none;
	}

	.FrontPage .two-column .auction .title {
	    font-size: 18px;
	}

	.FrontPage .three-column .auction .title {
	    font-size: 18px;
	}

	.AuctionDetails .basic-info .text .content h1 {
		font-size: 30px;
	}
}
@media screen and (max-width: 1150px) {
	footer .footer-bar {
		flex-wrap: wrap;
		height: calc(var(--input-h) * 3);
	}
	footer .footer-bar div {
		flex: 0 0 100%;
	}
	footer .footer-bar div:nth-child(n + 3) {
		color: white;
	}
}
@media screen and (max-width: 1050px) {
	.FrontPage .two-third-column, .FrontPage .three-column, .FrontPage .two-column {
		flex-direction: column;
	}
	.App .FrontPage .two-third-column .column,
	.App .FrontPage .three-column .column,
	.App .FrontPage .two-column .column {
		margin: 0;
	}
	.App .FrontPage .auction-ticker-column .column:not(:last-child) {
		margin-right: 20px;
	}
	.App .FrontPage .two-third-column .column:not(:last-child),
	.App .FrontPage .three-column .column:not(:last-child),
	.App .FrontPage .two-column .column:not(:last-child) {
		margin-bottom: 20px;
	}
	.App .FrontPage .six-column {
		flex-wrap: wrap;
	}
	.App .FrontPage .six-column .column {
		flex: 0 0 calc(33.33% - 2px);
		margin: 1px;
	}
}
@media screen and (max-width: 976px) {
	.App .Modal {
		width: 100%;
	}
	.App .Modal .actions {
		display: flex;
		justify-content: center;
	}
	.App .Modal button {
		margin-top: 0 !important;
	}
	.App .Modal button:first-child {
		margin-right: 10px;
	}
}

@media screen and (max-width: 920px) {
	.CategoryFilters .Properties .input-singular,
	.CategoryFilters .Properties .input-multiple,
	.CategoryFilters .Properties .input-range {
		flex: 0 0 25% !important;
	}

	.CategoryFilters .CategoryTree a {
		flex: 0 0 33% !important;
	}
}

@media screen and (max-width: 855px) {
	.App .AuctionList .auction {
		flex-direction: column;
	}
	.App .AuctionList .auction .image-wrapper,
	.App .AuctionList .auction .image-wrapper a,
	.App .AuctionList .auction .image-wrapper .div-image-block {
		display: block;
		min-height: calc(100vw - (2 * var(--page-margin)));
	}
	.App .AuctionList .auction div {
		flex: 0 0 100%;
	}
	.App .AuctionList .auction .image-wrapper {
		width: 100%;
		height: auto;
	}
	.App .AuctionList .auction .text {
		box-sizing: border-box;
		text-align: center;
		padding: 0 10px;
		max-width: none;
		width: 100%;
	}
}

@media screen and (max-width: 720px) {
	.CategoryFilters .Properties .input-singular,
	.CategoryFilters .Properties .input-multiple,
	.CategoryFilters .Properties .input-range {
		flex: 0 0 33% !important;
	}

	.CategoryFilters .CategoryTree a {
		flex: 0 0 50% !important;
	}
}

@media screen and (max-width: 700px) {
	.App .FrontPage .six-column .column {
		flex: 0 0 calc(50% - 2px);
		margin: 1px;
	}
}

@media screen and (max-width: 665px) {
	:root {
		--page-margin: 45px;
	}
}

@media screen and (max-width: 580px) {
	.App .main-container {
		margin: 0;
	}

	.App .Profile .user-settings {
		box-sizing: border-box;
		padding: 0 20px;

	}
	.App .Profile .user-settings ol {
		display: none;
	}

	.FrontPage h1,
	.FrontPage h2,
	.front_page__heading {
		text-align: center;
		margin-left: -20px;
	}
	.App .FrontPage .auction {
		box-shadow: none;
	}

	.App .AuctionListSearch .CategoryFilters {
		padding-left: 20px;
	}

	.breadcrumb-category-info {
		padding: 0 20px;
	}

	footer .footer-bar {
		padding: 7px 0px;
		font-size: 13px;
		height: 70px;
	}

	footer .footer-bar div {
		line-height: 20px;
	}
}

@media screen and (max-width: 510px) {
	nav .user-links {
		border: 1px solid #eee;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.1) !important

	}
	nav .user-links.open ~ .search-auctions {
		opacity: .5;
	}

	.App .logo {
		margin-left: 20px;
	}
}

@media screen and (max-width: 450px) {
	.Chat .chat-box {
		width: 100% !important;
	}
	.App h1 {
		text-align: center;
	}
	.App .html-description h1 {
		margin-left: 0;
	}

}

@media screen and (max-width: 410px) {
	.App .registration-panel .column {
		box-sizing: border-box;
		padding: 50px 25px;
	}
	.App .registration-panel.login .column .container, .App .registration-panel.register .column .container {
		min-width: 260px;
		padding: 0;
		margin: 0 auto;
	}
}

@media screen and (max-width: 405px) {
	.CategoryFilters .Properties .input-singular,
	.CategoryFilters .Properties .input-multiple,
	.CategoryFilters .Properties .input-range {
		flex: 0 0 50% !important;
	}

	.CategoryFilters .CategoryTree a {
		flex: 0 0 100% !important;
	}
}


@media screen and (max-width: 364px) {
	:root {
		--page-margin: 20px;
	}

	.logo img {
		max-width: 120px;
	}

	.App .AuctionList .auction .actions button {
		display: block;
		margin: 5px auto;
		min-width: 180px;
	}
}


/* ads */
/* @media screen and (max-width: 1500px) {
	.App .four-column .column:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 1250px) {
	.App .four-column .column:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.App .four-column .column:nth-child(2) {
		display: none;
	}
} */
