nav {
  will-change: transform;
}

.nav-mobile-fragment .new-auction-button {
  position: absolute;

  margin-top: -10px;
  margin-left: -180px;
}

@media screen and (max-width: 965px) {
  .App nav .search-auctions input.item {

  }

  .App nav .search-auctions .search-button,
  .App nav .search-auctions span {
    vertical-align: middle;
  }

  .App .search-category-helper {
    position: absolute;
    width: 100vw;
    left: -130px;
  }
}

@media screen and (max-width: 1340px) {
  nav .search-auctions {
    margin-left: -200px;
  }
}

@media screen and (max-width: 1000px) {
  body {
  	padding-top: calc(var(--nav-h) + 74px) !important;
  }

  nav .search-auctions {
		position: absolute;
		top: var(--nav-h);
		display: none;

		box-sizing: border-box;
		flex: 0 0 100%; width: 100%;
		height: auto !important;

		align-items: center;

		margin-top: -2px;
    margin-left: 0;
		padding: 0 var(--page-margin); padding-bottom: 16px;
		height: 70px;
		background: white;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
	}

  .App nav .search-auctions .select-value {
    display: inline-block;
  }

  nav .search-auctions .inputs {
    margin: auto;
  }
}

@media screen and (max-width: 660px) {
  .App nav .search-auctions .search-button {
    display: inline-block;
    margin: 0;
    height: 42px;
    border-radius: 0 20px 20px 0;
  }

  .App nav .search-auctions .select-value {
    display: none;
  }

  .App nav .search-auctions .select-value {
    border-right: none;
  }

  .App nav .search-auctions input {
    width: 130px !important;
  }
}

@media screen and (max-width: 460px) {
  .App .new-auction-button {
    margin-top: -5px;
    margin-left: -120px;
    padding: 10px;
    font-size: 12px;
  }

  .new-auction-button__icon {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 430px) {
  .App .search-category-helper {
    width: 100vw;
    left: 0; top: 130px;
  }

  .App nav .search-auctions .select {
    width: 100vw;
  }
}
