.OtherUser .user-data {
	display: flex;
}

.OtherUser .user-detailed-data {
	font-size: 14px;
	margin: 16px 0;
}

.OtherUser .user-detailed-data p {
	margin-bottom: 10px;
}

.OtherUser .user-detailed-data p > span {
	display: inline-block;
}

.OtherUser .user-detailed-data i {
	font-size: 16px;
	margin-top: 1px; margin-right: 7px;
	opacity: 0.7;

	vertical-align: top;
}

.OtherUser .user-data .column {
	margin: 20px;
}

.OtherUser .user-data .stars {
	margin-bottom: 5px;
}

.OtherUser .user-data .stars i {
	position: relative;
	top: -3px;
	color: var(--orange);
}

.OtherUser .user-data .stars i.bad {
	opacity: .5;

}

.OtherUser .user-data .name {
	font-weight: bold;
}

.OtherUser .user-data .city {
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 17px;
	margin-bottom: 10px;
}

.OtherUser .user-data .stats p {
	display: table;
}

.OtherUser .user-data .column:nth-child(n + 2) {
	padding-top: 15px;
}

.OtherUser .user-data .stats p span {
	min-width: 80px;
	display: table-cell;
	font-size: 14px;
}

.OtherUser .user-data .stats p span:nth-child(n + 2) {
	min-width: 40px;
}

.OtherUser .user-data .stats p span:nth-child(2) {
	min-width: 30px;
	text-align: right;
}

.OtherUser .user-data .stats p span:nth-child(3) {
	min-width: 10px;
	text-align: center;
}

.OtherUser .user-data .stats .bad {
	color: var(--bad);
}

.OtherUser .user-data .stats .good {
	color: var(--good);
}

.OtherUser .user-data .actions {
	display: flex;
	align-items: center;
}

.OtherUser .with-us {
	font-size: 14px;
}

.OtherUser .auctions-title {
	margin: 20px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.AuctionDetails .OtherUser .auctions {
	display: flex;
	flex-wrap: wrap;

	padding: 0px 8px;
	/* column-count: 6; */

	word-break: normal;
}

/* .OtherUser .auctions > li {
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
} */

.OtherUser .auction {
	position: relative;
	top: 0;
	left: 0;

	display: table;
	box-sizing: border-box;

	width: 200px;
	height: 260px;

	margin: 10px;
	padding: 10px;

	background: white;
	border: 1px solid #ddd;
	border-bottom: 2px solid #aaa;
	border-right: 1px solid #bbb;
	border-radius: 5px;
}

.OtherUser .auction:hover {

}

.OtherUser .auction .tiny-auction-view-data {
	position: absolute;
	bottom: -1px; left: -1px;

	box-sizing: border-box;

	width: calc(100% + 1px);
	padding: 6px 10px;

	text-align: right;
	color: white;
	text-shadow: -1px 0 2px #100, 0 2px 6px #100, 1px 0 2px #100, 0 -1px 2px #100;
}

.OtherUser .auction .lp {
	font-size: 17px;
	margin-right: 10px;
	font-weight: 100;
}

.OtherUser .auction .title {
	font-weight: 500;
	font-size: 18px;
}

.OtherUser .auction .description {
	font-size: 14px;
	margin-top: 10px;
	max-width: 300px;

}


.Deliveries {
	padding-top: 60px;
	max-width: var(--html-w);
	margin: auto;
}
.Deliveries h1 {
	margin-bottom: 10px;
}
.Deliveries h1 i {
	position: relative;
	top: -4px;

	margin-right: 10px;
	font-size: 40px;
}
.Deliveries .name {
	color: var(--link-blue);
}
.Deliveries .price {
	padding-left: 10px;
	color: black;
}
.Deliveries .price:after {
	content: '';
}
