.Profile {
    display: flex;
}
.Profile a.active {
    font-weight: bold;
}
.Profile .links, .AdminPanel .links {
    display: flex;
    flex-direction: column;
    height: 0%;

    font-size: 18px;
    padding: 20px;
    margin-right: var(--page-margin);

    background: #f0f0f0;
    border: 1px solid #ddd;
}
.Profile .links i, .AdminPanel .links i {
    position: relative;
    top: -1px;
    font-size: 18px;
}
.Profile .links > a, .AdminPanel .links > a {
    display: block;
    width: 280px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.Profile .dropdown {
    display: none;
    margin-top: -5px;
}
.Profile .dropdown a {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}
.Profile .links > .open + .dropdown {
    display: block;
}
.Profile .links > a.active, .AdminPanel .links > a.active {
    font-weight: bold;
}
.Profile .links > a:nth-of-type(1):after, .Profile .links > a:nth-of-type(2):after {
    font-family: 'Material Icons';
    content: 'arrow_drop_down';
}


.Profile .user-settings {
    max-width: 600px;
}

.Profile .user-settings fieldset {
    border: none;
    margin-bottom: 30px;
}
.Profile .user-settings fieldset p {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.Profile .user-settings fieldset p > span {
    position: relative;
}
.Profile .user-settings input[name='postal'] {
    width: 100px;
    margin-right: 15px;
}
.Profile .user-settings fieldset input:not([type='checkbox']) {
    box-sizing: border-box;
    height: var(--input-h);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #ddd;
    flex-grow: 1;
}
.validation-message {
    font-size: 10px;
    padding-left: 5px;
    color: var(--hot-orange);
    opacity: .8;
}
.Profile .user-settings fieldset p .validation-message {
    position: absolute;
    left: 0;
    bottom: -3px;


}
.Profile .user-settings fieldset p .validation-message.city {
    left: 50%;
}

.Profile .user-settings fieldset legend {
    font-weight: 800;
    font-size: 20px;
}

.user-settings i {
    position: relative;
    margin-right: 5px;
    top: -2px;
}

.user-settings h1 i {
     top: -4px;
}

.user-settings h1 {
    margin-bottom: 30px;
}


.user-settings h1 i {
    font-size: 36px;

}

.Profile .user-settings button[type='submit'] {
    padding: 2px 30px;
    height: var(--input-h);

    margin: 5px 0;
    border: 1px solid #ddd;
    cursor: pointer;
}
.Profile .user-settings button[type='submit']:hover {
    background: var(--orange);
    border: none;
    color: white;
}

.Profile .user-settings button.destroy {
    margin-top: 15px;
}
.Profile .user-settings button.destroy:hover {
    background: var(--hot-orange);
}

.user-settings .label {
    font-size: 12px;
    font-weight: 400;
}

.user-settings .text {
    padding: 0 5px;
}

.user-settings span, .user-settings input {
    vertical-align: middle;
}

.user-settings .checkbox-value {
    position: absolute;
    left: 0;
    top: 10px;

    width: 15px;
    height: 15px;

    background: white;
    border: 1px solid #ccc;
    pointer-events: none;
    cursor: pointer;
}
.user-settings input[type='checkbox'] {
    height: 40px;
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
}
.user-settings input[type='checkbox']:checked ~ .checkbox-value {

}
.user-settings input[type='checkbox']:checked ~ .checkbox-value:after {
    position: relative;
    top: -1px;
    left: -0.5px;
    font-family: 'Material Icons';
    content: 'done';
    color: #777;
}

.react-datepicker__year-select {
    width: 100%;
    margin-top: 5px;
    height: 20px;
}
.Profile.Delivery ol {
    left: 39px;
}
.Profile.Delivery ol li {
    margin: 5px 0;
    opacity: .8;
}
.Profile.Delivery form input[type='text'] {
    width: 50%;
    display: inline;
}
.Profile.Delivery .price-input-wrapper {
    vertical-align: baseline;
}
.Profile.Delivery form input[type='number'] {
    box-sizing: border-box;

    border-left: none;
    padding-right: 28px;
    width: 38%;
}
.Profile.Delivery form .remove {
    cursor: pointer;
    margin-left: 8px;
    padding-top: 2px;
    font-size: 14px;
    opacity: .2;
}
.Profile.Delivery form .remove:hover {
    color: var(--hot-orange);
    opacity: 1;
}
.Profile.Delivery .deliveries {
    display: flex;
    flex-direction: column;
}
.Profile.Delivery .deliveries > div {
    position: relative;
    width: 100%;
}

.CreateAuction .Modal .content {
    text-align: center;
    padding: 20px;
}
.CreateAuction .Modal .content p, .CreateAuction .Modal .content input {
    width: 100%;
}
.CreateAuction .Modal .content p:first-child {
    margin-bottom: 20px;
    font-size: 20px;
}
.CreateAuction .Modal .content p:last-child {
}

.Invoices, .Invoices table, .MyOpinions, .MyOpinions table {
    width: 100%;
}

.Invoices th:last-child {
    font-weight: 100;
}
.Invoices th input[type='checkbox'] {
    position: relative;
    top: -1px;
    margin-right: 3px;
    cursor: pointer;
}
.Invoices td {
    padding: 10px;
}
.Invoices .buyer {
    font-size: 12px;
    font-weight: bold;
}
.Invoices table {
    border-collapse: collapse;
}
.Invoices th {
    padding-bottom: 20px;
}
.Invoices td:nth-child(2) {
    text-align: center;
    font-size: 12px;
}
.Invoices td:nth-child(3) {
    text-align: center;
    font-size: 12px;
}
.Invoices td:first-child {
    border-left: 1px solid #ddd;
}
.Invoices td:last-child {
    text-align: center;
    border-right: 1px solid #ccc;
}
.Invoices .delivery {
    border-bottom: 1px solid #bbb;
}
.Invoices .delivery-method {
    font-size: 12px;
}
.Invoices span {
    display: block;
}
.Invoices .standard-button {
    visibility: hidden;
}
.Invoices tr:hover .standard-button {
    visibility: visible;
}
.Invoices td {
    border: 1px solid #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.user-settings label ~ input, .user-settings .labels ~ input {
    margin-top: 5px !important;
}
.user-settings .labels {
    display: block;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
}
.user-settings p label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
    flex: 0 0 100%;
}
.user-settings p label.required:before {
    content: '* ';
    color: var(--orange);
}
.user-settings p .labels label {
    flex: 0 0 auto;
}

.send-and-rate-table a {
    color: var(--link-blue);
}
.send-and-rate-table td:nth-child(3) {
    text-align: center;
}
.send-and-rate-table td {
    white-space: pre-line;
    padding: 10px;
}
.send-and-rate-table td div {
    padding-top: 13px;
}

.send-and-rate-table button {
    padding: 10px;
    border: 1px solid #eee;
    cursor: pointer;
}
.send-and-rate-table button:hover {
    border: 1px solid var(--orange);
    background: var(--orange);
    color: white;
}
.send-and-rate-table .name {
    font-weight: 400;
}
.send-and-rate-table .name i {
    margin-top: -3px;
    user-select: none;
}
.send-and-rate-table .address,
.send-and-rate-table .contact {
    display: block;
    font-size: 13px;
    padding: 3px 0;
}

.Profile .rate-user {
    padding-left: 30px;
    font-size: 12px;
    user-select: none;
}
.Profile .rate-user i {
    cursor: pointer;
}

.input-fetching {
  position: relative;
  opacity: .5;
  pointer-events: none;
}

.input-fetching:after {
  position: absolute;
  right: 10px;
  bottom: 22px;
  font-family: 'Material Icons';
  content: 'sync';

  will-change: transform;
  animation: rotate 1s infinite ease-in-out;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
