.input-input .input-hints::-webkit-scrollbar,
.input-input .hints::-webkit-scrollbar {
    width: 2px;
}

.input-input .input-hints::-webkit-scrollbar-track,
.input-input .hints::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

.input-input .input-hints::-webkit-scrollbar-thumb,
.input-input .hints::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
