.search-category-helper {
  position: absolute;
  left: 0; top: 50px;
  width: 190%;

  background: white;

  border: 1px solid #eee;
  border-radius: 5px;

  z-index: 1;
}

.search-category-helper .help {
  display: block;
  padding: 3px 6px;
  margin-bottom: 2px;
}

.search-category-helper span {
  vertical-align: middle;
}

.search-category-helper .desc {
  font-size: 12px;
  margin-right: 6px;
}

.search-category-helper .help:hover {
  background: #eee;
}
